{{ attach_library('page_header') }}

<div class="page_header">
  <div class="page_header__main">
    <div class="container padding-md--top-bottom padding-md--left-right">
      {% if breadcrumb is not empty %}
        {% include '@clearlinux_theme/layout/breadcrumb/breadcrumb.twig' with breadcrumb %}
      {% endif %}
      {% if page_title is not empty %}
        <h1 class="page_header__title">{{ page_title }}</h1>
      {% endif %}
    </div>
    {% if toolbar is not empty %}
      {% include '@clearlinux_theme/layout/toolbar/toolbar.twig' with toolbar %}
    {% endif %}
     {% if tabs is not empty %}
      {% include '@clearlinux_theme/layout/tabs/tabs.twig' with tabs %}
    {% endif %}
  </div>
</div>
