// Community counter
//
// Components Community counter
//
// Markup: community_counter.twig
//
// Style guide: components.community_counter
$comp_space_sm: if($space_sm, $space_sm, 16px);
$comp_space_md: if($space_md, $space_md, 32px);
$comp_space_lg: if($space_lg, $space_lg, 64px);
$comp_space_xl: if($space_xl, $space_xl, 96px);

.community_counter {
  color: #fff;
  .community_counter__list {
    width: 100%;
    font-family: $cl_intel_font-family-bold;
    height: 100px;
    position: relative;
    padding: 0 $comp_space_lg;
    box-sizing: border-box;

    .owl-nav {
      position: static;
    }

    .owl-prev,
    .owl-next {
      position: absolute;
      top: 30%;

      &::before {
        background-color: $white;
        color: $charcol;
        border: solid 1px $gray_light_2;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        border-radius: 100%;
        width: 40px;
        font-size: 20px;
        height: 40px;
        display: block;
        text-align: center;
        line-height: 40px;
      }
    }

    .owl-prev {
      left: 18px;
    }
    
    .owl-next {
      right: 48px;
    }

    .owl-item.active.center {
      border: none;
    }
    .community_counter__list__item {
      display: block;
      text-align: center;
      .community_counter__list__item__description {
        font-size: 20px;
        line-height:30px;
      }
      .community_counter__list__item__number {
        font-size: 48px;
        margin-top: 25px;
        line-height: 40px;
      }
    }
  }
}

.community_counter.landing_page,
.community_counter.landing {
  color: $black_light;
  background: $white;
  .community_counter__list__item {
    .community_counter__list__item__number {
      color: $pantone_cyan;
    }
  }

  .owl-prev,
  .owl-next {
    position: absolute;
    top: 47%;

    &::before {
      background-color: $charcol;
      color: $white;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      border-radius: 100%;
      width: 40px;
      font-size: 20px;
      height: 40px;
      display: block;
      text-align: center;
      line-height: 40px;
    }
  }
}

@media only screen and (min-width: $cl_sm) {
  .community_counter__list {
    .owl-item.active.center {
      border-right: 1px solid $charcol;
      border-left: 1px solid $charcol;
    }
  }

  .community_counter {
    .community_counter__list {
      .owl-item.active.center {
        border-right: 1px solid $white;
        border-left: 1px solid $white;
      }
    }
  }
}
