{{ attach_library('community_counter') }}

<div class="community_counter__list owl-carousel owl-theme">
  {% for item in items %}
    <div class="community_counter__list__item">
      <p class="community_counter__list__item__description">{{ item.description }}</h3>
      <p class="community_counter__list__item__number" data-count="{{ item.number }}">{{ item.number }}</p>
    </div>
  {% endfor %}
</div>

