// Sidebar Nav
//
// Layout Sidebar Nav
//
// Markup: sidebar_nav.twig
//
// Style guide: layout.sidebar_nav
.sidebar_nav {
  max-width: 288px;
  font-family: $cl_intel_font-family;
  display: none;

  .sidebar_nav__title {
    font-size: bold;
    font-size: 20px;
    color: $black_light;
    letter-spacing: 0;
    text-align: left;
  }

  .sidebar_nav__menu {

    .sidebar_nav__menu__list {
      list-style: none;
      padding: 0;
      margin: 0;

      &.child {
        display: none;
        padding: 0;

        &.collapsed {
          display: block;
        }

        .sidebar_nav__menu__list__item.child {
          background: $white;
          padding-top: 10px;

          &:last-child {
            padding-bottom: 10px;
          }

          &:before {
            display: none;
          }

          div {
           margin-left: 50px;
           padding-right: 10px;

           a {
              color: $dark_gray;
            }

          }


          &:hover {
           div  a {
              color: $intel;
            }
          }
        }
      }

      .sidebar_nav__menu__list__item {
        height: 100%;
        text-align: left;
        display: block;
        font-family: $cl_intel_font-family;
        font-size: 14px;
        font-weight: normal;
        letter-spacing: 0;
        text-align: left;
        background: $white;
        padding: 0;
        margin: 0 !important;

        .sidebar_nav__menu__list__item__wrapper {
          display: flex;

          .sidebar_nav__menu__list__parent_link__wrapper {
            padding: 8px 10px 10px 0;
          }
        }

        i {
          color: $intel;
          padding: 10px;
          cursor: pointer;
          width: 10px;
          visibility: hidden;
          font-family: FontAwesome;
        }

        a {
          font-family: $cl_intel_font-family;
          color: $dark_gray;
          text-decoration: none;
        }

        &.sidebar_nav__menu__list__parent {
          i {
            visibility: visible;
          }
        }

        &:hover, &:active, &:focus, &.active, &.active-trail {
          background: $gray_light_2;

          a {
            color: $intel;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $cl_lg) {
  .sidebar_nav {
     display: block;
  }
}
