{{ attach_library('sidebar_nav') }}

<div class="sidebar_nav">
  {% if menu_title is not empty %}
    <h4 class="sidebar_nav__title">{{ menu_title }}</h4>
  {% endif %}
  {% if items is not empty and items|length > 0 %}
    <nav class="sidebar_nav__menu">
      <ul class="sidebar_nav__menu__list">
        {% for item in items %}
          <li class="sidebar_nav__menu__list__item {{ item.active }}  {% if item.child_items|length > 0 %}{{ "sidebar_nav__menu__list__parent" }}{% endif %}">
            <div class="sidebar_nav__menu__list__item__wrapper">
              <div class="sidebar_nav__menu__list__parent_icon__wrapper"><i class="sidebar_nav__menu__list__parent_icon fa fa-caret-right" aria-hidden="true"></i></div>
              <div class="sidebar_nav__menu__list__parent_link__wrapper"><a href="{{ item.href }}">{{ item.title }}</a></div>
            </div>
            <ul class="sidebar_nav__menu__list child">
              {% for child_item in item.child_items %}
                <li class="sidebar_nav__menu__list__item child">
                  <div><a tabindex='1' href="{{ child_item.href }}">{{ child_item.title }}</a></div>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </nav>
  {% endif %}
</div>
