@mixin container-centered($width : 960px) {
  width: $width;
  margin: 0 auto;
}

@mixin inline {
  display: inline-block;
  vertical-align: top;
}

@mixin placeholder-global($color, $weight: normal) {
  ::-webkit-input-placeholder {
    @if $weight == bold {
      @include bold;
    }
     color: $color;
     font-family: $font-family;
  }
  :-moz-placeholder { /* Firefox 18- */
     @if $weight == bold {
      @include bold;
    }
     color: $color;
     font-family: $font-family;
  }
  ::-moz-placeholder { /* Firefox 19 */
     @if $weight == bold {
      @include bold;
    }
     color: $color;
     font-family: $font-family;
  }
  ::-ms-input-placeholder {
     @if $weight == bold {
      @include bold;
    }
     color: $color;
     font-family: $font-family;
  }
}

@mixin background-opacity($color, $opacity: 0.9) {
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}

// Shapes
@mixin circle($size) {
  height: $size;
  width: $size;
  -moz-border-radius: $size;
  -webkit-border-radius: $size;
  border-radius: $size;
}

@mixin donught($size, $color){
  border: $size/2 solid $color;
  border-radius: $size;
  height: $size;
  width: $size;
}

@mixin img-circle($size) {
  height: $size;
  width: $size;
  -moz-border-radius: $size/2;
  -webkit-border-radius: $size/2;
  border-radius: $size/2;
}

// Links
@mixin link($color, $hover, $hover-decoration: none, $decoration-default: none) {
  color: $color;
  cursor: pointer;
  text-decoration: $decoration-default;

  &:focus,
  &:visited {
    color: $color;
    text-decoration: $decoration-default;

    span {
      color: $hover;
    }
  }

  &:hover {
    color: $hover;
    cursor: pointer;
    text-decoration: $hover-decoration;

    span {
      color: $hover;
      cursor: pointer;
    }
  }
}

// Fonts
@mixin fontAwesomeIcon($value, $size: 18px) {
  font-family: 'FontAwesome';
  content: $value;
  font-size: $size;
}

@mixin bold {
  font-family: 'IntelClear-Bold';
  font-weight: normal;
}

@mixin light {
  font-family: $base-font-family;
  font-weight: normal;
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// Mobile Menu
@mixin btn--menu($size, $color, $colorHover){
  display           : block;
  background-color  : $color;
  opacity           : .8;
  width             : $size*8;
  height            : $size;
  box-shadow:
                    0 $size*2 $color,
                    0 $size*4 $color;
  position          :relative; // $::before

  &:hover, &:focus {
    background-color: $colorHover;
    opacity         : 1;
    transition      : box-shadow, width, color, opacity, .2s;
    box-shadow:
                    0 $size*2 $colorHover,
                    0 $size*4 $colorHover;
  }

  // We need use :before because a shadow isn't a block
  &::before {
    content          : '';
    cursor: pointer;
    width            : $size*5;
    height           : $size*5;
    position         : absolute;
        bottom       : -$size*4;
        right        : -$size*1.5;
   //background-color  : rgba(black, .5); //test
  }

  &:hover::before, &:focus::before {
    right:0;
  }
}

// Transitions
@mixin allTransition($time) {
  -webkit-transition: all $time ease-in-out;
  -moz-transition: all $time ease-in-out;
  -ms-transition: all $time ease-in-out;
  -o-transition: all $time ease-in-out;
  transition: all $time ease-in-out;
}

@mixin rotate($value) {
  -ms-transform: rotate($value); /* IE 9 */
  -webkit-transform: rotate($value); /* Chrome, Safari, Opera */
  transform: rotate($value);
}

// Colors
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}


// Responsive
@mixin respond-to($breakpoint) {
  @if $breakpoint == "sm" {
    @media (max-width: $tablet) {
      @content;
    }
  }
 
  @else if $breakpoint == "md" {
    @media (min-width: $tablet + 1) {
      /*and (max-width: $desktop)*/
      @content;
    }
  }

  @else if $breakpoint == "md2" {
    @media (min-width: $md-tablet) {
      @content;
    }
  }
 
  @else if $breakpoint == "lg" {
    @media (min-width: $desktop + 1) {
      @content;
    }
  }

  @else if $breakpoint == "xlg" {
    @media (min-width: $lg-desktop) {
      @content;
    }
  }
}


// 2x and 3x
@mixin retina($pixelRatio) {
  @if $pixelRatio == "2" {
    @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 2dppx){
      /* retina display. dpr 2 */
      @content;
    }
  }

  @else if $pixelRatio == "3" {
    @media only screen and (-webkit-min-device-pixel-ratio: 3),
    only screen and (min--moz-device-pixel-ratio: 3),
    only screen and (-o-min-device-pixel-ratio: 3/1),
    only screen and (min-device-pixel-ratio: 3),
    only screen and (min-resolution: 3dppx){
      /* dpr 3 */
      @content;
    }
  }
}