{% include "@clearlinux_theme/layout/header/header.twig" with header %}

{% include "@clearlinux_theme/layout/page_header/page_header.twig" with page_header %}

<main class="container padding-md--top-bottom padding-md--left-right body-sidebars-first">
  <aside class="sidebar-first">
    {% include '@clearlinux_theme/layout/sidebar_nav/sidebar_nav.twig' with aside.sidebar_nav %}
  </aside>
  <section id="content">
     {% for item in content.items %}
       <div class="Text__description">{{ item }}</div>
     {% endfor %}
  </section>
</main>

{% include "@clearlinux_theme/layout/footer/footer.twig" with footer %}
