// Call to action
//
// Component Call to action
//
// Markup: call_to_action.twig
//
// Style guide: components.call_to_action
$comp_space_sm: if($space_sm, $space_sm, 16px);
$comp_space_md: if($space_md, $space_md, 32px);
$comp_space_lg: if($space_lg, $space_lg, 64px);
$comp_space_xl: if($space_xl, $space_xl, 96px);

.call_to_action__primary_bg,
.call_to_action__primary,
.call_to_action__secondary_bg,
.call_to_action__secondary {
  font-family: $cl_intel_font-family;
  font-size: 16px;
  letter-spacing: 0.16px;
  padding: 15px 25px;
  text-align: center;
  display: inline-block;

  .fa {
    float: left;
    margin-right: 15px;
    margin-left: 0;
    padding-top: 3px;
  }

  &:hover,
  &:active,
  &:focus {
    background-color: $pantone_cyan;
    font-family: $cl_intel_font-family;
    color: $white;
    border: 2px solid $pantone_cyan;
  }

   &:disabled {
    background-color: $gray;
    color: $dark_gray;
    border: 2px solid $gray;
  }
}

.call_to_action__primary {
  background-color: $intel;
  color: $white;
  border: 2px solid $intel;
}

.call_to_action__primary_bg {
  background-color: $white;
  color: $intel;
  border: 2px solid $white;
}

.call_to_action__secondary {
  background-color: transparent;
  color: $intel;
  border: 2px solid $intel;
}

%bg-gradient--blue {
  .call_to_action__secondary {
    border-color: $white;
    background-color: transparent;
    color: $white;

    &:hover,
    &:active,
    &:focus {
      background-color: $pantone_cyan;
      color: $white;
      border-color: $pantone_cyan;
    }
  }
}

.feature {
  .call_to_action__secondary {
    margin-top: $comp_space_md;

    &:hover,
    &:active,
    &:focus {
      background-color: $intel;
      color: $white;
      border-color: $intel;
    }
  }
}

.Text {
  .call_to_action__secondary {
    margin-top: $comp_space_md;
  }
}

.call_to_action__secondary_bg {
  background-color: $dark_charcol;
  color: $white;
  border:  2px solid $white;

  &:hover,
  &:active,
  &:focus {
    background-color: $white;
    font-family: $cl_intel_font-family-bold;
    color: $intel;
    border:  2px solid $white;
  }
}

.call_to_action_il {
  .fa {
    float: left;
    margin-right: 15px;
    margin-left: 0;
  }
}

.call_to_action_ir {
  .fa {
    float: right;
    margin-left: 15px;
    margin-right: 0;
  }
}

.call_to_action__large {
  padding: 15px 25px;
}

.call_to_action__medium {
  padding: 10px 25px;
}

.call_to_action__small {
  padding: 8px 25px;
}

.call_to_action__xs {
  padding: 5px 25px;
}
