{{ attach_library('call_to_action') }}

<a tabindex='1' href="{{ link }}" class="{% for class in classes %}{{ class }} {% endfor %}">
  {% if ico is not empty %}<i class="fa {{ ico }}"> </i>{% endif %}
  {{ title }}
</a>
