{% include "@clearlinux_theme/layout/header/header.twig" with header %}

{% include "@clearlinux_theme/layout/page_header/page_header.twig" with title %}

<main class="container padding-md--top-bottom padding-md--left-right">
  {% for item in content %}
    {% if item.text is not empty %}
    	{{ item.text }}
    {% endif %}
    {% if item.two_columns is not empty %}
    	<div class="margin-md--top-bottom">
    		{% include "@clearlinux_theme/components/two_columns/two_columns.twig" with item.two_columns %}
    	</div>
    {% endif %}
    {% if item.leading_text is not empty %}
    	<div class="margin-lg--top-bottom">
    		{% include "@clearlinux_theme/components/leading_text/leading_text.twig" with item.leading_text %}
    	</div>
    {% endif %}
  {% endfor %}
</main>

{% include "@clearlinux_theme/layout/footer/footer.twig" with footer %}