{{ attach_library('video') }}

<div class="Video">
  <div class="container">
    <h2 class="Text__title"> {{ title }}</h2>
    <div class="Video__item">
      <div class="Video__top">
        <img src="https://img.youtube.com/vi/{{ id }}/hqdefault.jpg" />
        <a class="Video__play youtube cboxElement" href="https://www.youtube.com/embed/{{ id }}?autoplay=1&modestbranding=1&autohide=1&showinfo=0&controls=0"></a>
      </div>
      {% if description %}
        <div class="Video__description">
          <p>
            {{ description }}
          </p>
        </div>
      {% endif %}
    </div>
  </div>
</div>
