  <!-- ______________________ HEADER _______________________ -->
  {{ attach_library('clearlinux_theme/header') }}
  {%
    include '@clearlinux_theme/layout/header/header.twig' with {
      name: header_value.name,
      image: header_value.image,
      menu_items: header_value.menu_items
    }
  %}
<!-- /header -->
<!-- Page Header -->
<div class="page_header">
  <div class="page_header__main">
    {{ page.header }}
    <!-- tabs -->
    {% if documentation_tabs %}
    {{ attach_library('clearlinux_theme/tabs') }}
      {% include '@clearlinux_theme/layout/tabs/tabs.twig' with {
        items: documentation_tabs.items
      }
      %}
    {% endif %}
     {{ page.toolbar }}
  </div>
</div>

<!-- End Page Header -->
<!-- ______________________ MAIN _______________________ -->
{% set classes = [
'padding-md--top',
'padding-lg--bottom',
'padding-md--left-right',
(content_type == 'documentation') ? 'container' : 'container-md',
(content_type == 'documentation') ? 'body-sidebars-first' : ''
 ]
%}
<main {{ attributes.addClass(classes) }}>
  {% if content_type == 'documentation' %}
  {{ attach_library('clearlinux_theme/sidebar_nav') }}
    <aside class="sidebar-first">
      {% include '@clearlinux_theme/layout/sidebar_nav/sidebar_nav.twig' with {
       items: documentation_sidebar.items
      }
    %}
    </aside>
  {% endif %}
  {{ messages }}
  {{ page.content }}
</main>

  <!-- /main -->
{% include '@clearlinux_theme/layout/footer/footer.twig' with {
  menu:  footer_value.menu,
  social_media: footer_value.social_media
}
%}
