<!-- ______________________ HEADER _______________________ -->
{{ attach_library('clearlinux_theme/header') }}
{%
  include '@clearlinux_theme/layout/header/header.twig' with {
    name: header_value.name,
    image: header_value.image,
    menu_items: header_value.menu_items
  }
%}
<!-- /header -->
<!-- Page Header -->
<div class="page_header">
<div class="page_header__main">
  {{ page.header }}
  <!-- tabs -->
   {{ page.toolbar }}
</div>
</div>

<!-- End Page Header -->
<!-- ______________________ MAIN _______________________ -->

<main class="container padding-md--top-bottom padding-md--left-right">
{{ messages }}
{{ page.content }}
</main>

<!-- /main -->
{% include '@clearlinux_theme/layout/footer/footer.twig' with {
menu:  footer_value.menu,
social_media: footer_value.social_media
}
%}
