<!-- ______________________ HEADER _______________________ -->
{{ attach_library('clearlinux_theme/header') }}
{%
  include '@clearlinux_theme/layout/header/header.twig' with {
    name: header_value.name,
    image: header_value.image,
    menu_items: header_value.menu_items
  }
%}
<!-- /header -->

<!-- ______________________ MAIN _______________________ -->

  {{ messages }}
  {{ page.content }}

<!-- /main -->
{% include '@clearlinux_theme/layout/footer/footer.twig' with {
menu:  footer_value.menu,
social_media: footer_value.social_media
}
%}
