// Banner
//
// Components Banner
//
// Markup: banner.twig
//
// Style guide: components.banner
$container_xs: if($cl_mobile, $cl_mobile, 479px);
$container_sm: if($cl_sm, $cl_sm, 768px);
$container_md: if($cl_md, $cl_md, 992px);
$container_lg: if($cl_lg, $cl_lg, 1025px);
$container_xl: if($cl_xl, $cl_xl, 1200px);

.banner {
  padding: 85px 15px 85px 15px;
  background-size: cover;
  background-position: center center;
  font-family: $cl_intel_font-family-light;
  text-align: center;
  position: relative;

  .banner__subheader,
  .banner__title {
    color: $white;
    font-family: inherit;
    letter-spacing: normal;
    font-weight: normal;
    margin-bottom: 35px;
  }

  .banner__title {
    font-size: 40px;
    line-height: 45px;
    letter-spacing: 0.49px;
    font-family: $cl_intel_font-family-light;
  }

  .banner__subheader {
    font-size: 18px;
    line-height: 27px;
    font-family: $cl_intel_font-family;
    letter-spacing: 0.18px;
  }

  .banner__gradient {
    position: absolute;
    height: 100%;
    width:100%;
    top: 0;
    left: 0;
    background: linear-gradient(-45deg, #064f8b 0%, #006ec8 50%, #3cc6e5 100%);

    &.banner__gradient_1 {
      background: linear-gradient(-45deg, #064f8b 0%, #006ec8 50%, #3cc6e5 100%);
    }

    &.banner__gradient_2 {
      background: linear-gradient(-225deg, #10537c 0%, #072946 100%);
    }

    &.banner__gradient_3 {
      background: linear-gradient(-42deg, #064f8b 0%, #006ec8 47%, #27bef3 86%, #85e2b7 100%);
    }

    &.banner__gradient_4 {
      background: linear-gradient(90deg, #00aeff 3%, #35bff1 46%, #86e0b9 88%);
    }

    &.banner__opacity {
      opacity: 0.6;
    }
  }

  .banner__container {
    position: relative;
    z-index: 1;
    max-width: $container_md;
    margin: 0 auto;
    padding-left: $comp_space_md;
    padding-right: $comp_space_md;
  }

  @media only screen and (max-width: $cl_mobile) {
    .banner__container {
      padding: 0 30px;
    }

    .banner__title {
      font-size: 32px;
      text-align: left;
    }

    .banner__support_img {
      padding: 0 0 30px 0;
      text-align: left;

      .banner__svg {
        width: 67px;
      }
    }
  }

  @media (min-width: 480px) and (max-width: 991px) {
    .banner__support_img {
      padding: 0 0 35px 0;

      .banner__svg {
        width: 101px;
      }
    }
  }

  @media only screen and (min-width: $cl_md) {
    .banner__container {
      position: relative;

      .banner__support_img {
        position: absolute;
        left: -5%;
        bottom: -50%;
        padding: 0 25px;

        .banner__svg {
          width: 155px;
          max-width: 155px;
        }
      }
    }
  }

  .banner__svg .banner_opacity {
    opacity: 0.45;
  }
}
