{{ attach_library('banner') }}

<div class="wrapper banner" {% if bg_image is not empty %} style="background-image: url({{bg_image}});" {% endif %}>
  <div class="banner__gradient {% if gradient is not empty %}{{ gradient }}{% endif %} {% if bg_image is not empty %}{{ "banner__opacity" }}{% endif %}"></div>
  <div class="container banner__container">

    {% if sp_image is not empty %}
      <div class="banner__support_img">
        <object class="banner__svg" type="image/svg+xml" data="{{ sp_image }}"></object>
      </div>
    {% endif %}

    <div class="banner__content">
      {% if title is not empty %}
        <h1 class="banner__title">{{ title }}</h1>
      {% endif %}

      {% if subheader is not empty %}
        <p class="banner__subheader">{{ subheader }}</p>
      {% endif %}

      {% if call_to_action|length > 0 %}
        {% include '@clearlinux_theme/components/call_to_action/call_to_action.twig' with call_to_action %}
      {% endif %}

      {% if secondary_link|length > 0 %}
        {% include '@clearlinux_theme/components/secondary_link/secondary_link.twig' with secondary_link %}
      {% endif %}
    </div>

  </div>
</div>
