{{ attach_library('image_gallery') }}

<div class="image_gallery__wrapper {{ modifier_class }}">
  {% if title is not empty %}
    <h2 class="image_gallery__title">{{ title }}</h2>
  {% endif %}
  <div class="image_gallery__container">
    <div class="image_gallery owl-carousel owl-theme owl-drag">
      {% for item in items %}
        {% set item_var = item %}
        {% include "@clearlinux_theme/components/block_image/block_image.twig" with item_var only %}
      {% endfor %}
    </div>
  </div>
</div>
