{{ attach_library('tabs') }}

<div class="tabs">
  {% if items is not empty and items|length > 0 %}
    <div class="container padding-md--left-right">
    <span class="tabs__table_of_content"><a href="/documentation">Documentation home</a></span>
    <nav class="tabs__menu">
      {% if menu_title is not empty %}
        <h4 class="tabs__menu_title">{{ menu_title }}</h4>
      {% endif %}
      <ul class="tabs__menu_list">
        {% for item in items %}
          <li class="tabs__menu_list_item {% if item.child_items|length > 0 %}{{ "tabs__menu_list_parent" }}{% endif %} {{ item.active }}">
            <a tabindex='1' href="{{ item.href }}">{{ item.title }}</a>
            {% if item.child_items|length > 0 %}
              <i class="tabs__menu_list_parent__icon fa fa-caret-right" aria-hidden="true"></i>
              <ul class="tabs__menu_list__child">
                {% for child_item in item.child_items %}
                  <li class="tabs__menu_list__child_item {% if child_item.child_items|length > 0 %}{{ "tabs__menu_list_parent" }}{% endif %}">
                    <a tabindex='1' href="{{ child_item.href }}">{{ child_item.title }}</a>
                    {% if child_item.child_items|length > 0 %}
                      <i class="tabs__menu_list_parent__icon fa fa-caret-right" aria-hidden="true"></i>
                      <ul class="tabs__menu_list__child">
                        {% for last_item in child_item.child_items %}
                          <li class="tabs__menu_list__child_item">
                            <a tabindex='1' href="{{ last_item.href }}">{{ last_item.title }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
  {% endif %}
  </div>
</div>
<div id="tabs__overlay"></div>
