// Blog Detail
//
// Layout Blog Detail
//
// Markup: blog.twig
//
// Style guide: layout.blog
.post-image {
  img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
  }
}
.post-image--caption {
  text-align: right;
}