{{ attach_library('article') }}
<div class="container">
<div class="article {{ modifier_class }}">
  <div class="article__info">
    {% if title is not empty %}
      <h3 class="article__title"><a href="{{ link.href }}">{{ title }}</a></h3>
    {% endif %}
    <div class="article__details">
      {% if date is not empty %}
        <span class="article__date">{{ date }}</span>
      {% endif %}
      {% if author is not empty %}
        <span>By</span> <span class="article__author">{{ author }}</span>
      {% endif %}
      {% if categories is not empty and categories|length > 0 %}
        <span>& filed under</span>
        <span class="article__categories">
          {% for cat in categories %}
            <a href='{{ cat.href }}' title='{{ cat.title }}' tabindex='1'>{{ cat.title }}</a>
            {% if not loop.last %},{% endif %}
          {% endfor %}
        </span>
      {% endif %}
    </div>
    {% if description is not empty %}
      <div class="article__description">
        <p class="article__description_text">{{ description }}</p>
      </div>
    {% endif %}
    {% if link is not empty %}
      <a href="{{ link.href }}" class="article__link" tabindex='1'>{{ link.title }}</a>
    {% endif %}
  </div>
  {% if image is not empty and modifier_class != 'search_result' %}
    <div class="article__image_wrapper">
      <a href="{{ link.href }}" tabindex='1'><img src="{{ image }}" class="article__image"/></a>
    </div>
  {% endif %}
</div>
</div>
