{{ attach_library('highlights_carousel') }}

{% set carousel_class = '' %}
{% for item in items %}
  {% if item.icon is not empty %}
    {% set carousel_class = '_with-icon' %}
  {% endif %}
{% endfor %}

<div class="highlights_carousel__wrapper {{ carousel_class }} {{ modifier_class }}">
  {% if title is not empty %}
    <h2 class="highlights_carousel__title">{{ title }}</h2>
  {% endif %}
  <div class="highlights_carousel__container">
    <div class="highlights_carousel owl-carousel owl-theme owl-drag">
      {% for item in items %}
        {% set item_var = item %}
        {% include "@clearlinux_theme/components/highlight/highlight.twig" with item_var %}
      {% endfor %}
    </div>
  </div>
</div>
