{% include "@clearlinux_theme/layout/header/header.twig" with header %}

{% include "@clearlinux_theme/layout/page_header/page_header.twig" with title %}

<main class="container padding-md--top-bottom padding-md--left-right body-sidebars-second">
	<section id="content">
		{% include '@clearlinux_theme/components/article_list/article_list.twig' with article_list %}
	</section>
	<aside class="sidebar-second padding-sm--top">
		{% include '@clearlinux_theme/components/social_channel_menu/social_channel_menu.twig' with aside.social_channels %}
		{% include '@clearlinux_theme/layout/sidebar_nav/sidebar_nav.twig' with aside.sidebar_nav %}
	</aside>
</main>

{% include "@clearlinux_theme/layout/footer/footer.twig" with footer %}