// Card
//
// Components Card
//
// Markup: card.twig
//
// Style guide: components.card
.Card {
  width: 100%;
  height: auto;
  background: $white;
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  &__item {
    position: relative;
    background: $white;
    border: solid 1px $grayish;
    box-shadow:0 5px 4px 0 rgba(0,0,0,0.09);
    min-height: 270px;
    max-width: 218px;
    padding: 35px;
    margin: 0 auto 25px auto;
    width: span(24 of 24);
    @media only screen and (min-width: $cl_sm) {
      width: span(12 of 24);
    }
    @media only screen and (min-width: $cl_md) {
      width: span(8 of 24);
    }
    @media only screen and (min-width: $cl_lg) {
      width: span(6 of 24);
    }
  }
  &__title, a {
      text-align: center;
      margin: 0 auto 25px auto;
      color: $dark;
  }
  &__description {
    p {
      text-align: center;
      margin: 0 auto;
      a {
        color: dark;
      }
    }
  }
}
