// Text block
//
// Components: Text block
//
// Markup: text_block.twig
//
// Style guide: components.text_block
.Text {
  display: block;
  width: 100%;
  margin-bottom: 25px;

  &__title {
    font-family: $cl_intel_font-family;
    font-weight: normal;
    font-size: 1.875em;
    line-height: 1.23em;
    margin-bottom: 32px;
    color: $button;
  }
  &__description {
    p {
      font-family: $cl_intel_font-family;
      font-weight: normal;
      font-size: 15px;
      color: $charcol;
      line-height: 29px;
      margin-bottom: 25px;

      &:last-child {
        margin-bottom: 0;
      }
      a {
        text-decoration: none;
        color: $intel;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.block--even {
  .Text {
    &__title {
      color: $white;
    }

    &__description {
      p {
        color: $white;
      }
    }
  }
}

@media only screen and (min-width: 480px) {
  .Text {
    &__description {
      p {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}
