{{ attach_library('text_block') }}

<div class="Text">
  <div class="container">
    <h2 class="Text__title">{{ title }}</h2>
    <div class="Text__description">
      {{ description|raw }}
    </div>
    {% if call_to_action is not empty %}
    	{% include "@clearlinux_theme/components/call_to_action/call_to_action.twig" with call_to_action %}
    {% endif %}
  </div>
</div>
