{{ attach_library('social_channel') }}

<div class="container">
  <div class="social_channel {{ modifier_class }}">

    {% if icon is not empty %}
      <div class="social_channel__icon">
        <i class="fa {{ icon }}"></i>
      </div>
    {% endif %}

    <div class="social_channel__details">
      {% if link is not empty %}
        <h4 class="social_channel__title">
          <a href="{{ link.href }}" title="{{ link.title }}">{{ link.title }}</a>
        </h4>
      {% else %}
        <h4 class="social_channel__title">{{ title }}</h4>
      {% endif %}
      {% if description is not empty %}
        <p class="social_channel__description">{{ description }}</p>
      {% endif %}
    </div>

  </div>
</div>
