{{ attach_library('project') }}

<div class="Project__item">
  <div class="Project__header">
    {% if image is not empty %}
      <img src="{{ image }}" alt="{{ name }}">
    {% endif %}
    <div class="Project__title {% if image is empty %} no-image {% endif %}">
      <p>{{ formatted_name }}</p>
      <small>{{ small_title }}</small>
    </div>
  </div>
  <div class="Project__body">
    <p>{{ description }}</p>
  </div>
  <div class="Project__footer">
    {% include '@clearlinux_theme/components/button/button.twig' with button %}
  </div>
</div>
