{% include "@clearlinux_theme/layout/header/header.twig" with header %}

{% include "@clearlinux_theme/layout/page_header/page_header.twig" with title %}

<main>
  {% include "@clearlinux_theme/components/feature_list/feature_list.twig" with items %}
</main>

{% include "@clearlinux_theme/layout/footer/footer.twig" with footer %}