{% include "@clearlinux_theme/components/article/article.twig" with {
   title: label|field_value,
   date: global_date_node,
   description: content.body|field_value,
   link: {
     title: "Read more",
     href: url
   }
 }
%}
