
{% if content.field_thumbnail_image|field_target_entity %}
  {% set image = content.field_thumbnail_image|field_target_entity.image.entity.uri.value|image_style('listing_image_blog') %}
{% endif %}
{% set category = content.field_category['#items']|length %}
{% set categories = [] %}
{% if category > 0 %}
  {% for item,s in 0..category - 1 %}
    {% set categories = categories|merge({
      (s): {
        title: content.field_category[s]['#plain_text'],
        href : '/blogs?category=' ~ content.field_category[s]['#cache'].tags.0|replace({'taxonomy_term:': ''})
      }
    })
    %}
  {% endfor %}
{% endif %}

{%
  set blog = {
    categories: categories,
    title: content.title,
    date: node.created.value|date('d M, Y'),
    author: author_name,
    description: content.field_subheader,
    image: image,
    link: {
      title: "Read more",
      href: url
    },
    modifier_class: unpublished ? 'unpublished' : 'published'
  }
%}
<article {{ attributes.addClass(classes) }}>
{{ title_suffix }}
  {%
    include '@clearlinux_theme/components/article/article.twig' with blog
  %}
</article>
