{% set category = content.field_category['#items']|length %}
{% set categories = [] %}
{% if category > 0 %}
  {% for item,s in 0..category - 1 %}
    {% set categories = categories|merge({
      (s): {
        title: content.field_category[s]['#plain_text'],
        href : '/features?category=' ~ content.field_category[s]['#cache'].tags.0|replace({'taxonomy_term:': ''})
      }
    })
    %}
  {% endfor %}
{% endif %}


{% include "@clearlinux_theme/components/article/article.twig" with {
   categories: categories,
   title: label|field_value,
   date: global_date_node,
   description: content.body|field_value,
   link: {
     title: "Read more",
     href: url
   }
 }
%}
