{%
 include '@clearlinux_theme/components/highlight/highlight.twig' with {
   title: label|field_value,
   description: content.field_subheader|field_value,
   icon: content.field_icon.0['#attributes'].class,
   call_to_action: {
     title: "Read More",
     link: url,
     classes: ["call_to_action__secondary"]
   }
  }
%}
