<div class="Error">
	<div class="container">
		<div class="Error__image">
			<img src="/images/structure/clearlinux-404.png" alt="Clearlinux">
		</div>
		<div class="Error__description">
			<h1>403</h1>
			<h2>This page has restricted access</h2>
			<p>Unfortunatly the page you tried coudn’t be accesed. Try going back to our <a href="/">home page</a>  or use the <a href="/user">log in</a>.</p>
			<p><strong>What else you can do?</strong></p>
			<ul>
				<li>Try to contact the Clear Linux* Project team with the <a href="#">contact us</a> form</li>
			</ul>
		</div>
	</div>
</div>