// Footer
//
// Layout Footer
//
// Markup: footer.twig
//
// Style guide: layout.footer
.footer {
  background: $black_light;
  font-family: $cl_intel_font-family;
  color: $white;
  font-size: 12px;

  .footer__top, .footer__bottom {
    display: block;
    width: 100%;

    .footer__menu,
    .footer__social_media {
      .footer__menu__list,
      .footer__social_media__list {
        list-style: none;

        .footer__menu__list_item,
        .footer__social_media__list_item {
          a {
            color: $white;
            font-size: 14px;
          }

          a:hover {
            .fa-facebook-official {
              color: $facebook-color;
            }

            .fa-twitter-square {
              color: $twitter-color;
            }

            .fa-google-plus-square {
              color: $google-plus-color;
            }

            .fa-pinterest-square {
              color: $pinterest-color;
            }

            .fa-tumblr-square {
              color: $tumblr-color;
            }

            .fa-reddit-square {
              color: $reddit-color;
            }

            .fa-snapchat-square {
              color: $snapchat-color;
            }

            .fa-flickr {
              color: $google-plus-color;
            }

            .fa-instagram {
              color: $instagram-color;
            }

            .fa-linkedin-square {
              color: $linkedin-color;
            }

            .fa-youtube-square {
              color: $youtube-color;
            }

            .fa-github-square {
              color: $github-color;
            }
          }
        }

        .footer__social_media__list_item {
          padding-left: 0px;
          padding-right: 30px;

          &:last-child {
            padding-right: 0;
          }

          a {
            font-size: 32px;
          }
        }
      }
    }
  }

  .footer__menu {
    width: 100%;

    .footer__menu__list {
      display: inline-flex;

      .footer__menu__list_item {
        padding: 5px;
        margin-right: 30px;
      }
    }
  }

  .footer__social_media {
    width: 100%;
    text-align: left;
    margin-top: 30px;

    .footer__social_media__list {
       display: inline-flex;
    }

    a:hover {
      .fa-facebook-official {
        color: $facebook-color;
      }

      .fa-twitter-square {
        color: $twitter-color;
      }
    }
  }

  .footer__bottom {
    margin-top: 15px;
  }

}

@media only screen and (min-width: 0px) and (max-width: $cl_mobile) {
  .footer__menu__list {
    display: block !important;
  }
}

@media only screen and (min-width: $cl_lg) {
  .footer {
    .footer__top, .footer__bottom {
      display: inline-flex;

      .footer__menu {
        width: 66.6%;
        text-align: left;
      }

      .footer__social_media {
        width: 33.3%;
        text-align: right;
        margin-top: 0;

        .footer__social_media__list_item {
          padding-left: 5px;
          padding-right: 0px;
        }
      }
    }
  }
}
