{{ attach_library('footer') }}
<footer class="footer">
  <div class="container padding-md--top-bottom padding-md--left-right">
    {% if menu is not empty or social_media is not empty %}
      <div class="footer__top">
        {% if menu is not empty and menu.items|length > 0 %}
          <div class="footer__menu">
            <ul class="footer__menu__list">
              {% for item in menu.items %}
                <li class="footer__menu__list_item">
                  <a tabindex='1' href="{{ item.href }}">{{ item.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        {% if social_media is not empty and social_media.items|length > 0 %}
          <div class="footer__social_media">
            <ul class="footer__social_media__list">
              {% for item in social_media.items %}
                <li class="footer__social_media__list_item">
                  <a tabindex='1' href="{{ item.href }}" title="{{ item.title }}"><i class="fa {{ item.icon }}"></i></a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>
    {% endif %}
      <div class="footer__bottom">
       <p class="footer__copyright">COPYRIGHT © {{ year|date('Y') }} INTEL CORPORATION. ALL RIGHTS RESERVED <br /> *OTHER NAMES AND BRANDS MAY BE CLAIMED AS THE PROPERTY OF OTHERS</p>
      </div>
  </div>
</footer>
