{{ attach_library('community_list') }}
<div class="Wrapper Clist">
  <div class="container">

    <div class="Clist__item">
      <div class="Clist__ico">
        <i class="fa {{ ico }}"></i>
      </div>
      <div class="Clist__body">
        <h3 class="Clist__title">{{ title }}</h3>
        <p class="Clist__description">{{ description }}</p>
      </div>
    </div>

  </div>
</div>
