{{ attach_library('search_input') }}

<div class="header__search_form__wrapper">
  <form method="get" class="{{ modifier_class }} header__search_form" action="/search">
    <i class="fa fa-search header__search_placeholder_icon" aria-hidden="true"></i>
    <input type="text" name="search" class="header__search_form__input" placeholder="Search" value="{{ value }}" />
    <input type="submit" value="Submit">
  </form>
  <div class="header__search_cancel__wrapper">
    <span class="header__search_cancel">Cancel</span>
  </div>
</div>
