{{ attach_library('header') }}

<header id="header">
  <div class="container padding-md--left-right">
    <div class="header__menu_mobile">
      <i class="fa fa-bars header__menu_mobile__control" aria-hidden="true"></i>
    </div>

    <div id="header__site_info">
      {% if image is not empty %}
        <div class="header__site_img_wrapper">
          <object class="header__site_img_object" type="image/svg+xml" data="{{ image }}"></object>
        </div>
      {% endif %}
      {% if name is not empty %}
        <div class="header__site_name"><a href ="/"> {{ name }}</a></div>
      {% endif %}
    </div>

    {% if menu_items|length > 0 %}
      <nav class="header__menu">
        <ul class="header__menu_list">
           {% for item in menu_items %}
              <li class="header__menu_list_item {{ item.active }} {% if item.child_items|length > 0 %}{{ "header__menu_list_parent" }}{% endif %}">
                <a tabindex='1' href="{{ item.href }}">{{ item.title }}</a>
                  {% if item.child_items|length > 0 %}
                    <i class="header__menu_list_parent__icon fa fa-caret-down" aria-hidden="true"></i>
                    <ul class="header__menu_list__child">
                      {% for child_item in item.child_items %}
                        <li class="header__menu_list__child_item">
                          <a tabindex='1' href="{{ child_item.href }}">{{ child_item.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
              </li>
           {% endfor %}
        </ul>
      </nav>
    {% endif %}

    <div class="header__search">
      <i class="fa fa-search visible header__search_icon" aria-hidden="true"></i>
      {% include "@clearlinux_theme/components/search_input/search_input.twig" %}
    </div>

  </div>
</header>
