  {% for component in components %}
  <div class="Wrapper {{ component.content['#paragraph'].type.entity.id }}">
    <div class="Wrapper__container container">
    {{ component.content }}
    </div>
  </div>
  {% endfor %}
