<!-- toolbar -->
  {% include '@clearlinux_theme/layout/toolbar/toolbar.twig' with {
    date: content.node_created,
    author: content.node_author,
    categories: content.node_categories
  }
  %}
<!-- EndToolbar-->
