{#
/**
 * @file
 * Theme override for status messages.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the messages for assistive technology.
 * Sighted users see a colored box. See http://www.w3.org/TR/WCAG-TECHS/H69.html
 * for info.
 *
 * Add an ARIA label to the contentinfo area so that assistive technology
 * user agents will better describe this landmark.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types.
 * - display: (optional) May have a value of 'status' or 'error' when only
 *   displaying messages of that specific type.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 *
 * @see template_preprocess_status_messages()
 */
#}
{% block messages %}
{% for type, messages in message_list %}
  {%
    set classes = [
      'messages',
      'drupal-messages',
      'messages--' ~ type,
    ]
  %}

  {% if type == "status" %}
      {% set ico = "fa-check-circle" %}
      {% set title = "Success: " %}
  {% elseif type == "error" %}
      {% set ico = "fa-times-circle" %}
      {% set title = "Error: " %}
  {% else %}
      {% set ico = "fa-exclamation-circle" %}
      {% set title = "Warning: " %}
  {% endif %}

  <div role="contentinfo" aria-label="{{ status_headings[type] }}"{{ attributes.addClass(classes)|without('role', 'aria-label') }}>
      <div class="messages-ico">
        <i class="fa {{ico}}"></i>
      </div>
      <div class="messages-body {{ messages|length > 1 ? 'column' : '' }}">
        <h2>{{ title }}</h2>
        <p>
          {% if messages|length > 1 %}
            <ul class="messages__list">
              {% for message in messages %}
                <li class="messages__item">{{ message }}</li>
              {% endfor %}
            </ul>
          {% else %}
            {{ messages|first }}
          {% endif %}
        </p>
      </div>
  </div>
  {# Remove type specific classes. #}
  {{ attributes.removeClass(classes) }}
{% endfor %}
{% endblock messages %}
