{{ attach_library('social_channel_menu_item') }}

<div class="container">
  <div class="social_channel__menu_item">
    {% if href is not empty %}
      <a tabindex='1' class="social_channel__link" href="{{ href }}" title="{{ title }}">
    {% else %}
      <p>
    {% endif %}
    {% if icon is not empty %}
      <i class="fa {{ icon }}"></i>
    {% endif %}

    {% if title is not empty %}
      <span class="social_channel__title">{{ title }}</a>
    {% endif %}

    {% if href is not empty %}
      </a>
    {% else %}
      </p>
    {% endif %}
  </div>
</div>