.menu-anchors {
	display: none;

	@include respond-to('md'){
		background-color: #fff;
		display: block;
		padding-left: 0;
		text-align: center;
		width: 100%;
		z-index: 1;
		position: absolute;
		ul {
			padding: 0;
		}

		h2 {
			display: inline-block;
			font-size: 15px;
			margin-bottom: 0;
			margin-top: 0;
		}

		.menu-number {
			@include bold;
			margin-right: 6px;
			margin-bottom: 0;
			font-size: 16px;
		}

		li {
			display: inline-block;
		}

		a {
			background-color: $darkgray;
			color: #fff;
			display: inline-block;
			padding: 8px 5px;
			width: 100%;
			text-align: left;

			@include respond-to('xlg'){
				padding-left: 15px;
				padding-right: 15px;
			}

			&.active,
			&:hover,
			&:focus,
			&:active {
				background-color: $accent-color-1;
				color: $darkgray;
				text-decoration: none;
			}
		}
	}
}

#anchor-menu {
	position: relative;

	.menu-anchors {
		&.affix {
			position: fixed;
			top: 0;
			margin: 0 auto;
    	left: 0;
		}
	}

	.container--custom {
		position: relative;
		width: 100%;
	}
}
