.summary {
  margin-top: 2rem;
  font-size: $text-lg;
}

@include respond-to('lg'){
	.section--home {
		min-height: 95vh;

		._align--center {
			min-height: 95vh;
		}
	}
}

.section--home {
	padding: 36px 0;
}

.section--header {
	h2 {
		font-size: 52px;
		margin-bottom: 46px;
		margin-top: 0;

		@include respond-to('lg'){
			display: inline-block;
		}
	}

	.menu-number {
		@include bold;
		font-size: 56px;
		margin-bottom: 0;
		line-height: 1;

		@include respond-to('lg'){
			margin-right: 24px;
		}
	}
}

.gradient--hero {
	padding: 2rem 0 4rem 0;
	min-height: 70vh;

	._align--center {
		min-height: 70vh;
	}

	h1 {
		font-size: 60px;
		margin-top: 0;
	}

	.headline--sub {
		@include light;
		font-size: 40px;
	}

	.hero-quote {
		margin-top: 48px;
		font-size: 20px;

		@include respond-to('lg') {
			margin-left: 64px;
		}
	}

	.hero-author {
		font-size: 20px;
		margin-bottom: 64px;

		@include respond-to('lg') {
			margin-bottom: 0;
		}
	}

	.hero-img {
		text-align: center;

		img {
			width: 100%;
		}

		@include respond-to('lg'){
			img {
				float: right;
				width: 80%;
			}
		}
	}
}

.hero-quote {
	border-left: 3px solid $primary-color-1;
	float: right;
	padding-left: 24px;
}

.hero-author {
	font-style: italic;
}

#contact-us {
	padding: 3rem 0;
}

#get-started {
	.container--custom {
		padding: 0;
	}

	.col-sm-12 {
		padding: 6rem;
	}

	@include respond-to('lg') {
		> .clearfix {
			display: flex;
	    flex-direction: row;
	    flex-grow: 1;
	    flex-shrink: 1;
	    flex-basis: auto;
	    justify-content: center;
		}
	}
}

#what-is {
  padding: 100px 0;
	.penguin {
		margin: 2rem auto;
		width: 80%;

		@include respond-to('md2') {
			margin: 0 auto;
			width: 70%;
		}

		@include respond-to('lg') {
			width: 60%;
		}
	}

	.container--custom {
		display: flex;
		flex-direction: row;
	}
}

#features {
  padding: 50px 0;
}

.video--meta {
	background-color: #000;
	padding: 12px 24px;
	color: #fff;
	width: 100%;
	position: relative;
  bottom: -40vh;

  @include respond-to('md') {
		bottom: -55vh;
	}

	@include respond-to('md2') {
		bottom: -70vh;
	}

	@include respond-to('lg') {
		background-color: rgba(0,0,0,0.8);
		width: 50vw;
		position: absolute;
		left: 0;
		bottom: 0;
	}
}

#play-video {
	color: #fff;
	font-size: 80px;
	display: none;

	&:hover {
		color: $accent-color-1;
	}

	@include respond-to('lg') {
		display: block;
	}
}

#play-video-mobile {
	color: #fff;
	font-size: 100px;
	position: absolute;
	top: calc(50% - 50px);
	left: calc(50% - 50px);
	opacity: 0.7;

	&:hover {
		color: $accent-color-1;
		opacity: 1;
	}

	@include respond-to('lg') {
		display: none;
	}
}

#section--video {
	background: url(../images/keynote_imad_sousou_3.JPG) top no-repeat;
	background-size: cover;
	height: 40vh;
	width: 100%;
	position: relative;
	margin-bottom: 36vh;

	@include respond-to('md') {
		max-height: 600px;
		height: 55vh;
		margin-bottom: 30vh;
	}

	@include respond-to('md2') {
		height: 70vh;
		margin-bottom: 25vh;
	}

	@include respond-to('lg') {
		margin-bottom: 0;
	}
}

.video--link {
	display: block;
	height: 65vh;

	@include respond-to('md') {
		max-height: 600px;
		height: 85vh;
		margin-bottom: 30vh;
	}

	@include respond-to('md2') {
		height: 95vh;	}

	@include respond-to('lg') {
		margin-bottom: 0;
	}
}

.faq-list {
	dt {
		border-bottom: 1px solid $gray-ll;
		cursor: pointer;
		padding: 15px 50px 15px 0;
		position: relative;

    .fa-caret-up {
      display: none;
    }

    &.faq--expanded {
      .fa-caret-up {
        display: inline-block;
      }
      .fa-caret-down {
        display: none;
      }
    }

		&:hover {
			border-color: $darkgray;
		}

		.fa {
			position: absolute;
			right: 25px;
			top: 20px;
		}
	}
	dd {
		display: none;
		margin-bottom: 4rem;
		margin-top: 1.5rem;
	}
}

.icon-git {
	.fa {
		font-size: 150px;
	}
}

#open-letter {
	.container--custom {
		display: flex;
		flex-direction: row;
	}
}

#features {
	display: flex;
	flex-direction: row;

	.col-sm-12 {
		margin-bottom: 4rem;
		text-align: center;

		@include respond-to('lg') {
			margin-bottom: 6rem;
		}
	}

	.feature--icon {
		margin: 0 0 3rem 0;
		.fa {
			font-size: 70px;
		}
	}
}

.banner {
	line-height: 2;
	min-height: 40vh;
	display: flex;
	flex-direction: row;
	padding: 2rem;

	> ._align--center {
		min-height: 40vh;
	}

	&.background--safety {
		color: #fff;
    text-decoration: none;

    a {
      color: #FDB814;
      &:hover {
        color: #FFE966;
        text-decoration: underline;
      }
    }
	}
}

.content__img {
  max-width: 80%;
  height: auto;
  margin: 0 auto;
  display: block;
  max-height: 625px;
  margin-top: 4rem;
}
