{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% set breadcrumbItems = {} %}
{% set current_class = '' %}
{% for item in breadcrumb %}
  {% if loop.last %}
    {% set current_class = 'current' %}
  {% endif %}

  {% set breadcrumbItems = breadcrumbItems|merge(
    {
      (loop.index0): {
        href: item.url,
        title: item.text,
        current_class: current_class
      }
    }
  )
  %}
{% endfor %}

{%
  include '@clearlinux_theme/layout/breadcrumb/breadcrumb.twig' with {
    breadcrumb: breadcrumbItems
  }
%}
