{{ attach_library('breadcrumb') }}

<div class="breadcrumb {% if classes is not empty and classes|length > 0 %}{% for class in classes %}{{ class }}{% endfor %}{% endif %}">
  {% if breadcrumb|length > 0 %}
    <ul class="breadcrumb__list">
      {% for item in breadcrumb %}
        <li class="breadcrumb__list__item {% if item.current_class is not empty %}{{ item.current_class }}{% endif %}">
          {% if item.href is not empty %}
            <a tabindex='1' href="{{ item.href }}">{{ item.title }}</a>
          {% endif %}
          {% if item.href is empty %}{{ item.title }}{% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
