{{ attach_library('community') }}

<div class="Wrapper Community">
  <div class="container">
    <div class="Community_container owl-carousel owl-theme">
      {% for row in community %}
        <div class="Community__item">
          <i class="fa {{ row.ico }} Community__ico"></i>
          <p class="Community__title">{{ row.title }}</p>
          <p class="Community__description"> {{ row.summary }}</p>
          <a tabindex='1' href="{{ row.link }}" class="Button Button__primary Button__primary-small Community__link">
            {{ row.link_title }} <i class="fa fa-arrow-right"></i>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
