// Hero carousel
//
// Components Hero carousel
//
// Markup: hero_carousel.twig
//
// Style guide: components.hero_carousel
.Carousel {
  width: 100%;
  .owl-nav {
    .owl-prev, .owl-next {
      &:before {
        color: $white;
      }
    }
    .owl-prev {
      left: 15px;
    }
    .owl-next {
      right: 15px;
    }
  }
}
