{{ attach_library('hero_carousel') }}

<div class="Wrapper Carousel owl-carousel owl-theme">
  {% for banner in banners %}
    {%
      set banners_var = banner
    %}
    {% include "@clearlinux_theme/components/banner/banner.twig" with banners_var %}

  {% endfor %}
</div>
