// Two columns
//
// Components Two columns
//
// Markup: two_columns.twig
//
// Style guide: components.two_columns
$comp_space_sm: if($space_sm, $space_sm, 16px);
$comp_space_md: if($space_md, $space_md, 32px);
$comp_space_lg: if($space_lg, $space_lg, 64px);
$comp_space_xl: if($space_xl, $space_xl, 96px);

.Column {
  width: 100%;
  overflow: hidden;

  @media only screen and (min-width: $cl_md) {
    > .container {
      display: flex;
    }
  }

  &__item {
    @include span(24 of 24)
    padding: $comp_space_sm;
    flex: 1;
    @media only screen and (min-width: $cl_sm) {
      @include span(12 of 24);
    }
    img {
      width: 100%;
      min-height: auto;
      float: left;
      padding: 15px 0;
    }
    .fa {
      font-size: 200px;
    }
  }

  .column__icon {
    text-align: center;
  }
}
