{{ attach_library('two_columns') }}
{% if title is not empty %}
  <div class="Title">
    <div class="container">
      <h2>{{ title }}</h2>
    </div>
  </div>
{% endif %}

<div class="Column">
  <div class="container">
    {% if first_column %}
    <div class="Column__item column__first">
      {% for items in first_column %}
        <div class="column__first column__{{ items.type }}">
          {% if items.type == 'text_block_full_width' %}
            {% include "@clearlinux_theme/components/text_block/text_block.twig" with items %}
          {% elseif items.type == 'video_block' %}
            {% include "@clearlinux_theme/components/video/video.twig" with items %}
          {% elseif items.type == 'image_block' %}
            {% if items.title is not empty %}
              <h2 class="Text__title">{{items.title}}</h2>
            {% endif %}
            <img src="{{ items.image }}" title="{{ items.title }}" alt="{{ items.title }}" />
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
    </div>
    {% if second_column %}
    <div class="Column__item column__second">
      {% for items in second_column %}
        <div class="column__{{ items.type }}">
          {% if items.type == 'text_block_full_width' %}
            {% include "@clearlinux_theme/components/text_block/text_block.twig" with items %}
          {% elseif items.type == 'video_block' %}
            {% include "@clearlinux_theme/components/video/video.twig" with items %}
          {% elseif items.type == 'image_block' %}
            {% if items.title %}
            <h2 class="Text__title">{{items.title}}</h2>
            {% endif %}
            <img src="{{ items.image }}" title="{{ items.title }}" alt="{{ items.title }}" />
          {% endif %}
        </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
