#block-sharethis {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.sharethis-wrapper {
  width: auto;
  height: 20px;
  display: flex;
  margin: 0 auto;
  font-family: $cl_poppins_font-family-medium;
  font-size: 0.9375em;
  color: $button;
  text-align: center;
  letter-spacing: 0.19px;
  align-items: center;
  
  &::before {
    content: "SHARE";
    margin: 0;
  }
  span{
    width: 35px;
    height: auto;
    margin: 0;
    &::before {
      font: normal normal normal 17px/1 FontAwesome;
      color: $gastly;
      cursor: pointer;
      &:hover {
        color: $charcol;
      }
    }
    &.st_facebook_custom {
      &::before {
        content: "\f09a";
      }
      &:hover {
        &::before {
          color: $facebook-color;
        }
      }
    }
    &.st_twitter_custom {
      &::before {
        content: "\f099";
      }

      &:hover {
        &::before {
          color: $twitter-color;
        }
      }
    }
    &.st_linkedin_custom {
      &::before {
        content: "\f0e1";
      }

      &:hover {
        &::before {
          color: $linkedin-color;
        }
      }
    }
  }
}