{{ attach_library('color_palette') }}

<div class="Color">
  <div class="container">
    {% for item in color_palette %}
      <div class="Color__item">
        <div class="Color__header" style="background-color: {{ item.color }}"></div>
        <div class="Color__body">
          <h5 class="Color__title">{{ item.title }}</h5>
          <p class="Color__description">{{ item.color }}</p>
          <p class="Color__description">{{ item.rgba }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
