<div class="container">
  <br />
  <form>
    <div class="form-item form-type-textfield">
      <label for="text">Text input label</label>
      <input name="text" type="text" placeholder="Hint text here" />
    </div>
    <div class="form-item form-type-textarea">
      <label for="text-area" >Text area label</label>
      <textarea name="text-area" placeholder="Hint text here"></textarea>
    </div>
    <div class="form-item form-type-select">
      <label for="options" >Select label</label>
      <select name="options" selected="">
       <option val="">Pick an option</option>
       <option val="1">Option 1</option>
       <option val="2">Option 2</option>
      </select>
    </div>
    <div class="form-item form-type-select numeric">
      <label for="numbers" >Number label</label>
      <select name="numbers" selected="0">
       <option val="-1">-1</option>
       <option val="0">0</option>
       <option val="1">1</option>
      </select>
    </div>
    <div class="form-item form-type-chekboxes">
      <label for="checkbox">Checkbox title</label>
      <div class="form-item form-type-checkbox">
        <input type="checkbox" name="checkbox" value="1">
        <label for="checkbox">Checkbox label text</label>
      </div>
      <div class="form-item form-type-checkbox">
        <input type="checkbox" name="checkbox" value="2">
        <label for="checkbox">Checkbox label text</label>
      </div>
    </div>
    <div class="form-item form-type-radios">
      <label for="radio">Radio title</label>
      <div class="form-item form-type-radio">
        <input type="radio" name="radio" value="1">
        <label for="radio">Radio label text</label>
      </div>
      <div class="form-item form-type-radio">
        <input type="radio" name="radio" value="2">
        <label for="radio">Radio label text</label>
      </div>
    </div>

    <div class="switch-wrapper">
      <label for="switch">Toggle title</label>
      <label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
      </label>
    </div>

    <input type="submit" value="Submit" />
  </form>
  <br />
  <h1>Form Inline</h1>
  <form>
    <div class="form--inline">
      <div class="form-item form-type-fieldset" >
        <fieldset>
          <div class="form-item form-type-password verified">
            <label for="password">Password</label>
            <input name="password" type="password" placeholder="Enter your password" value="12345678" />
          </div>

          <div class="form-item form-type-password verified">
            <label for="password-1">Re-Enter password</label>
            <input name="password-1" type="password" placeholder="Enter your password again" value="1212345678" />
          </div>
        </fieldset>
      </div>

       <div class="form-item form-type-fieldset" >
        <fieldset>
          <div class="form-item form-type-select error">
            <label for="options" >Security question</label>
            <select name="options" selected="">
             <option val="">Pick a security question</option>
            </select>
            <span class="error-message">Required Field</span>
          </div>

          <div class="form-item form-type-textfield error">
            <label for="text">Security answer</label>
            <input name="text" type="text" placeholder="Enter your security answer" />
            <span class="error-message">Required Field</span>
          </div>
        </fieldset>
      </div>

      <div class="form-item form-type-fieldset" >
        <fieldset>
          <div class="form-item form-type-textfield">
            <label for="text-optional">Textfield label</label><span>&nbsp;(optional)</span>
            <input name="text-optional" type="text" placeholder="Enter phone number" />
          </div>

          <div class="form-item form-type-submit">
            <input type="button" value="Button" disabled/>
          </div>
        </div>
      </fieldset>
    </div>
  </form>
</div>

<div class="container">
  <div class="page_header">
    <div class="page_header__main">

      <div class="container padding-md--top-bottom padding-md--left-right">
         <h1 class="page_header__title">Form in toolbar</h1>
      </div>

      <div class="toolbar__container">
        <div class="toolbar">
          <div class="container padding-sm--top-bottom padding-md--left-right">
            <form>
              <div class="form--inline">
                <div class="form-item form-type-select">
                  <label for="options" >Select label</label>
                  <select name="options" selected="">
                   <option val="">Pick an option</option>
                   <option val="1">Option 1</option>
                   <option val="2">Option 2</option>
                  </select>
                </div>
                <div class="form-item form-type-select error">
                  <label for="options" >Select label</label>
                  <select name="options" selected="">
                   <option val="">Pick an option</option>
                   <option val="1">Option 1</option>
                   <option val="2">Option 2</option>
                  </select>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container">
  <div role="contentinfo" aria-label="Status message" class="messages drupal-messages messages--status">
    <div class="messages-ico">
      <i class="fa fa-check-circle"></i>
    </div>
    <div class="messages-body ">
      <h2>Success: </h2>
      <p> Blog <em class="placeholder"><a href="/blogs/announcing-intelr-clear-containers-30" hreflang="en">Announcing Intel® Clear Containers 3.0!</a></em> has been updated.</p>
    </div>
  </div>

  <div role="contentinfo" aria-label="Status message" class="messages drupal-messages messages--warning">
    <div class="messages-ico">
      <i class="fa fa-info-circle"></i>
    </div>
    <div class="messages-body ">
      <h2>Success: </h2>
      <p> Blog <em class="placeholder"><a href="/blogs/announcing-intelr-clear-containers-30" hreflang="en">Announcing Intel® Clear Containers 3.0!</a></em> has been updated.</p>
    </div>
  </div>

  <div role="contentinfo" aria-label="Status message" class="messages drupal-messages messages--error">
    <div class="messages-ico">
      <i class="fa fa-times-circle"></i>
    </div>
    <div class="messages-body ">
      <h2>Success: </h2>
      <p> Blog <em class="placeholder"><a href="/blogs/announcing-intelr-clear-containers-30" hreflang="en">Announcing Intel® Clear Containers 3.0!</a></em> has been updated.</p>
    </div>
  </div>

  <div class="admonition note">
    <p class="first admonition-title">Note</p>

    <p class="last">This does not check other system components (for example: storage and graphics) for compatibility with Clear Linux.</p>
  </div>

  <div class="admonition caution">
    <p class="first admonition-title">Caution</p>
    <p class="last">Backup important data before proceeding. The process of burning an image
    onto the USB drive completely formats the
    USB drive and any existing content will be destroyed.</p>
  </div>

</div>
