<div class="container">
  <h1 class="heroe">Heroe . Intel Clear Light . 40 px</h1>
  <br/>
  <h1>H1. Intel Clear Light . 36px</h1>
  <br/>
  <h2>H2 . Intel Clear Light . 30px</h2>
  <br/>
  <h3>H2 . Intel Clear Light . 30px</h3>
  <br/>
  <h4>H4 . Intel Clear Bold . 20px</h4>
  <br/>
  <h5>H5 . Intel Clear Bold . 18px</h5>
  <br/>
  <h6>H6. Intel Clear Bold . 16px</h6>
  <br/>
</div>

