<div class="container">
  <ul>
    <li>Un-ordered nested list level 1</li>
    <li>Un-ordered nested list level 1
      <ul>
        <li>Un-ordered nested list level 2
          <ul>
            <li>Un-Ordered nested list level 3</li>
            <li>Un-Ordered nested list level 3</li>
            <li>Un-Ordered nested list level 3</li>
          </ul>
        </li>
        <li>Un-ordered nested list level 2</li>
        <li>Un-ordered nested list level 2</li>
      </ul>
    </li>
    <li>Un-ordered nested list level 1</li>
    <li>Un-ordered nested list level 1</li>
  </ul>
  <br/>
  <ul>
    <li>Un-ordered nested list level 1</li>
    <li>Un-ordered nested list level 1
      <ol>
        <li>Ordered nested list level 2</li>
        <li>Ordered nested list level 2</li>
        <li>Ordered nested list level 2</li>
      </ol>
    </li>
    <li>Un-ordered nested list level 1</li>
    <li>Un-ordered nested list level 1</li>
  </ul>
  <br/>
  <ol>
    <li>Ordered nested list level 1</li>
    <li>Ordered nested list level 1
      <ul>
        <li>Un-ordered nested list level 2</li>
        <li>Un-ordered nested list level 2</li>
        <li>Un-ordered nested list level 2</li>
      </ul>
    </li>
    <li>Ordered nested list level 1</li>
    <li>Ordered nested list level 1</li>
  </ol>
  <br/>
  <ol>
    <li>Ordered nested list level 1</li>
    <li>Ordered nested list level 1
      <ol>
        <li>Ordered nested list level 2
          <ol>
            <li>Ordered nested list level 3</li>
            <li>Ordered nested list level 3</li>
            <li>Ordered nested list level 3</li>
          </ol>
        </li>
        <li>Ordered nested list level 2</li>
        <li>Ordered nested list level 2</li>
      </ol>
    </li>
    <li>Ordered nested list level 1</li>
    <li>Ordered nested list level 1</li>
  </ol>
  <br/>
</div>
