<div class="Nav">
  <ul class="Nav__controls">
    <li></li>
    <li class="active"></li>
    <li></li>
    <li></li>
  </ul>

  <ul class="Nav__tabs">
    <li><a href="#">Clear Technologies</a></li>
    <li class="active"><a href="#">Clear Linux Project</a></li>
    <li><a href="#">Clear Containers</a></li>
    <li><a href="#">CIAO</a></li>
  </ul>

  <ul class="Nav__breadcrumbs">
    <li><a href="#">Docx</a></li>
    <li><a href="#">Getting Started</a></li>
    <li><a>Supported Hardware</a></li>
  </ul>
</div>
