<div class="container">
  <blockquote>"A &lt;blockquote&gt; defines a section that is quoted from another source. A blockquote is recommended for long pieces of content (more than 2 lines). Normally, this is rendered with different indentation than paragraph."
  </blockquote>
</div>
