<div class="container">
  <p class="big">Big . Intel Clear Regular. 18px</p>
  <br/>
  <p>Standard . Intel Clear Regular. 16px</p>
  <br/>
  <p class="small">Small . Intel Clear Regular. 14px</p>
  <br/>
</div>
