body {
  overflow-x: hidden;
  color: $darkgray;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
	font-size: $base-font-size;
	line-height: $base-line-height;
	position: relative;
	overflow-y: scroll;
}

._text--center {
  text-align: center;
}

._text--right {
  text-align: right;
}

._padding--section {
  padding: 0 2rem;
}

._display--inline {
	display: inline-block;
}

._height--100 {
  height: 100%;  
}

._margin--right {
	margin-right: 24px;
}

._no-padding {
	padding: 0 !important;
}

.container--custom {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 24px;
}

.container--custom_small {
	max-width: 992px;
}

.safety-critical {
	h2 {
		@include light;
	}

	h3,
	h4 {
		@include bold;
	}

	strong {
		@include bold;
	}

	.btn {
		background-color: $darkgray;
		border: none;
		display: inline-block;
		border-radius: 0;
		font-size: $base-font-size;
		line-height: $base-line-height;
		padding: 10px 25px;
		color: #fff;
		transition: background-color 200ms ease-in-out;
		margin: 1rem 0;

		&:hover,
		&:active,
		&:focus {
			background-color: $accent-color-1;
			color: $darkgray;
		}
	}

	.btn--inverse {
		background-color: #fff;
		color: $darkgray;

		&:hover,
		&:active,
		&:focus {
			background-color: $accent-color-1;
			color: $darkgray;
		}
	}
}

.background--color {
	background-color: $accent-color-1;
}

.background--light {
	background-color: #EFEFF5;
}

.background--dark {
	background-color: $darkgray;
	color: #fff;
}

.section-padding--bottom {
	padding-bottom: 3rem;
}

.section-padding--top-bottom {
	padding-bottom: 3rem;
	padding-top: 3rem;
}

.video--responsive {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.background--safety {
	background: url(../images/safety-480.jpg) center center no-repeat;
	background-size: cover;

	@include respond-to('md') {
		background: url(../images/safety-1024.jpg) center center no-repeat;
	}

	@include respond-to('lg') {
		background: url(../images/safety-1440.jpg) center center no-repeat;
	}

	@include respond-to('xlg') {
		background: url(../images/safety-2000.jpg) center center no-repeat;
	}
}