.gradient--hero {
	/* Gradient: */
	background: #FDB814;
	background: -webkit-linear-gradient(top right, #FDB814 0%, #FFE966 100%);
	background: -o-linear-gradient(top right, #FDB814 0%, #FFE966 100%);
	background: linear-gradient(to bottom left, #FDB814 0%, #FFE966 100%);
}