$comp_space_sm: if($space_sm, $space_sm, 16px);
$comp_space_md: if($space_md, $space_md, 32px);
$comp_space_lg: if($space_lg, $space_lg, 64px);
$comp_space_xl: if($space_xl, $space_xl, 96px);

.navbar-inverse {
  background-color: #313332;
}

#logo {
  //background: url(../img/logo.png) no-repeat;
  background-size: contain;
  height: 70px;
  position: absolute;
  top: 11px;
  width: 100px;
  z-index: 1;
}

.custom-container {
  padding-left: 25px;
  padding-right: 25px;
}

#header {
  width: 100%;
  display: block;
  font-family: $cl_intel_font-family;
  font-size: 14px;
  border: 1px solid $gray;
  background: $white;

  > .container--custom {
    display: flex;
     @media only screen and (min-width: 992px) {
      height: 80px;
     }
  }

  #header__site_info {
    position: relative;
    display: inline-flex;
    margin: 15px 5px 0 0;

    .header__site_name {
      margin: 15px 5px;
      color: $black_light;
      letter-spacing: -0.25px;
      line-height: 21px;
      text-align: left;

      a,
      a:visited,
      a:active,
      a:focus {
        color: $black_light;
      }
    }

    .header__site_img_object {
      height: 50px;
    }
  }

  @media only screen and (max-width: 767px) {
    #header__site_info {
      .header__site_img_wrapper {
        display: none;
      }
    }
  }

  @media only screen and (max-width: 991px) {
    #header__site_info {
      position: relative;
      margin: 5px 10px 0 10px;

      .header__site_img_object {
        height: 40px;
      }

      .header__site_name {
        font-size: 18px;
        text-align: center;
        margin: 10px 5px;
      }
    }
  }

  .header__menu {
    width: 75%;
    max-width: 75%;
    text-align: right;

    &.collapsed {
      z-index: 2;
    }

    &.search {
      display: none;
    }

    .header__menu_list {
      display: inline-flex;
      list-style: none;
      margin-left: 0;
      z-index: 1;

      .header__menu_list_item {
        height: 80px;
        background: $white;
        min-width: 75px;
        max-width: 100px;
        padding: 0 $comp_space_sm;
        text-align: center;

        a,
        i {
          color: $dark_gray;
          font-size: 14px;
          line-height: 21px;
          position: relative;
          top: 30px;
        }

        a {
          font-family: $cl_intel_font-family;
        }

        i {
          font-family: FontAwesome;
          cursor: pointer;
        }

        &:hover {
          background: $gray;

          .header__menu_list_item  {
            a {
              font-family: $cl_intel_font-family;
            }

            i {
              font-family: FontAwesome;
            }
          }
        }

        &:focus, &:active, &.active, &.active-trial, &.collapsed {
          a,
          i {
            color: $intel;
          }

          a {
            font-family: $cl_intel_font-family;
          }

          i {
            font-family: FontAwesome;
          }
        }
      }

      .header__menu_list__child {
        display: none;
        list-style: none;

        &.collapsed {
          display: block;
          position: absolute;
          margin-top: 58px;
          box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.50);
          margin-left: -16px;
          padding: 0 15px 20px 15px;
          background: $white;
          z-index: 2;

          .header__menu_list__child_item {
            height: 50px;
            border-bottom: 1px solid $gray;
            min-width: 200px;
            width: 200px;

            &:last-child {
              border-bottom: none;
            }

            a {
              font-family: $cl_intel_font-family;
              color: $dark_gray;
              font-weight: normal;
              padding-bottom: 15px;
              margin-left: 5px;
              top: 20px;
              height: 80px;
              background: $white;
              min-width: 75px;
              max-width: 100px;
              padding: 0 $comp_space_sm;
            }

            &:before {
              display: none;
            }

            &:hover, &.active, &.active-trail, &:active, &:focus {
              a {
                color: $intel;
              }
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 991px) {
    .header__menu {
      display: none;

      .header__menu_list {
        display: block;
        position: absolute;
        background: $gray_light;
        padding: 15px;
        width: 150%;
        margin-left: -32px;
        top: -1px;

        .header__menu_list_item {
          height: 32px;
          display: block;
          width: 100%;
          max-width: 100%;
          margin-bottom: 0;
          text-align: left;
          padding: 0;
          background-color: transparent;

          a, i {
            top: 0;
          }

          a {
            line-height: 32px;
            padding-left: 30px;
          }

          &:hover, &:focus, &:active, &.active, &.active-trial {
            background-color: $white;
            a, i {
              color: $intel;
            }

            a {
              font-family: $cl_intel_font-family;
            }

            i {
              font-family: FontAwesome;
            }
          }

          &.collapsed {
            background-color: $white;
            height: 100%;
            box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);

            .header__menu_list__child {
              position: relative;
              margin-top: 10px;
              margin-bottom: 10px;
              box-shadow: none;
              margin-left: -16px;
              padding: 0;
              background: transparent;

              .header__menu_list__child_item {
                border: none;
                height: 32px;
                margin-bottom: 0;
                display: block;
                width: 100%;

                &:last-child {
                  padding-bottom: 10px;
                }

                 a {
                  padding-left: 40px;
                  padding-bottom: 0;
                  top: 0;
                }
              }

            }
          }
        }
      }

      &.collapsed {
        position: absolute;
        margin: 50px 0;
        width: 100%;
        display: block;
      }
    }
  }

  .header__menu_mobile {
    text-align: center;
    cursor: pointer;
    background: $white;
    display: block;
    float: left;
    margin: 5px 0 0 -10px;
    width: 45px;

    &:hover, &.collapsed {
      background: $gray;
    }

    .header__menu_mobile__control {
      font-family: FontAwesome;
      font-size: 24px;
      color: $intel;
      letter-spacing: 1.84px;
      position: relative;
      padding: 10px;
    }
  }

  @media only screen and (min-width: $cl_md) {
    .header__menu_mobile {
      display: none;
    }

    .header__menu {
      .header__menu_list {
        .header__menu_list_item {
          position: relative;
          margin-bottom: 0;
          min-width: 1px;
          max-width: 100%;
          padding: 0;
          text-align: center;

          > a,
          i {
            position: static;
            line-height: 80px;
          }

          > a {
            display: inline-block;
            background: $white;
            padding: 0 $comp_space_sm;
            text-align: center;
          }

          > i {
            position: absolute;
            right: 20px;
            top: 0;
          }

          &.header__menu_list_parent {
            a {
              padding-right: 40px;
            }
          }

          .header__menu_list__child_item {
            margin-left: 0;
          }

          .header__menu_list__child {
            margin-top: 0;
            margin-left: 0;
            padding: 0 15px;
          }

          &:hover {
            background: transparent;
            > a {
              background: $gray;
            }
          }

          &:focus, &:active, &.active, &.active-trial, &.collapsed {
            > a {
              background: $gray;
            }
          }
        }
      }
    }
  }

  @media only screen and (min-width: 1100px) {
    .header__menu {
      .header__menu_list {
        .header__menu_list_item {
          > a {
            padding: 0 $comp_space_md;
          }
        }
      }
    }
  }

  .header__search {
    border-left: 1px solid $gray;
    text-align: left;
    position: relative;
    height: 80px;
    float: left;

    &.active {
      float: right;
    }

    .header__search_form__input,
    .header__search_placeholder_icon{
      margin-top: 30px;
    }

    .header__search_icon {
      &.visible {
        display: block;
        font-family: FontAwesome;
        font-size: 24px;
        color: $black_light;
        letter-spacing: 1.84px;
        cursor: pointer;
        margin: 30px 0 0 20px;

        &:hover {
          color: $intel;
        }
      }

      &.hidden {
        display: none;
      }
    }
  }

  @media only screen and (max-width: 991px) {
    .header__search {
      border: none;
      text-align: right;
      float: right;
      height: 49px;

      .header__search_form__wrapper {
        margin: 15px 0;
      }

      .header__search_form__input,
      .header__search_placeholder_icon{
          margin-top: 0px;
      }

      .header__search_icon {
        &.visible {
          margin: 15px 0 0 0;
        }
      }

      &.active {
        position: absolute;
        width: 100%;
        left: 0;
        background: $white;

        .header__search_cancel {
          display: inline;
          margin-top: 15px;
        }

      }
    }
  }

  @media only screen and (max-width: 530px) {
    .header__search {
      .header__search_form__input {
        max-width: 150px;
      }
    }
  }
}



@media only screen and (max-width: 991px) {
  #header {
    border: none;
    height: auto;
  }
}

.o1-logo-container {
  background-color: $header-top-background-color;
  padding: 10px 0 5px 0;
}

.o1-header {
  position: relative;
}

.o1-logo {
  @include inline;
  vertical-align: baseline;
  background: url(../images/01.org_@1x.png) 0 0 no-repeat;
  height: 13px;
  width: 215px;

  @include retina('2') {
    background: url(../images/01logo_@2x.png) 0 0 no-repeat;
    background-size: 215px 13px;
  }

  @include retina('3') {
    background: url(../images/01logo_@3x.png) 0 0 no-repeat;
    background-size: 215px 13px;
  }
}

.project-header {
  overflow: hidden;
  height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;

  .left {
    overflow: hidden; // hide the logo when not scrolled
    margin: 0;
    width: 201px;
    float: none;
    display: block;

    @include respond-to('md') {
      width: 310px;
    }
  }

  @include respond-to('md') {
    height: auto;
    overflow: visible;
  }

  &.scrolled {
    overflow: visible;
    height: auto;

    @include respond-to('md') {
      padding-top: 15px;
    }

    #project-name {
      margin-left: 0;
    }

    .left {
      width: 201px;

      @include respond-to('md') {
        width: 310px;
      }
    }
  }

  .right {
    display: none;
  }

  @include respond-to('xlg') {
    height: auto;
    padding-bottom: 15px;

    &.scrolled {
      padding-bottom: 15px;
    }

    .right {
      display: block;
      position: relative;
      margin-top: 18px;
    }

    .left {
      width: auto;
      margin: 0;
      float: left;
      display: inline-block;
    }
  }

  transition: height 200ms ease-in-out, padding-top 200ms ease-in-out;

  h4 {
    @include light;
    font-size: $base-font-size;
  }
}

#project-name {
  @include inline;
  /*font-size: $h3-font-size;*/
  padding-bottom: 10px;
  margin-left: -32px;
  position: relative;
  background: url(../images/Clear_Linux_icon_56px.png) no-repeat 0 0;
  padding-left: 32px; // width of background image
  height: 38px;
  line-height: 25px;
  font-size: 18px;
  background-size: 25px;

  @include respond-to('md') {
    margin-left: -50px;
    line-height: 55px;
    font-size: 24px; // twice the default of 14px
    background-size: auto;
    padding-left: 50px; // width of background image
    height: 56px;
  }

  #project-name-left {
    @include bold;
  }

  #project-name-right {
    @include light;
  }

  #project-name-bottom {
    color: $gray-ll;
    position: absolute;
    font-size: 12px;
    bottom: -5px;
    line-height: 22px;
    left: 33px;

    @include respond-to('md') {
      left: 51px;
    }
  }

  sup {
     font-size: medium;
  }

  @include retina('2') {
    &:before, &:after {
      font-size: 21px;
    }
  }

  @include retina('3') {
  }

  transition: margin-left 200ms ease-in-out;
}

#main-menu {
  font-size: $header-txt-size;
  margin-top: 30px;
  height: 0;
  margin-top: 0px;
  visibility: hidden;

  @include respond-to('xlg') {
    height: auto;
    margin-top: 0px;
    visibility: visible;
  }

  li {
    display: block;
    float: none;
    margin-bottom: 10px;

    @include respond-to('xlg') {
      display: block;
      float: left;
      margin-bottom: 10px;
    }
  }

  a {
    height: 25px;
    margin: 0 5px;
    padding: 0 5px;
    display: none;

    @include respond-to('xlg') {
      display: block;
    }

    &:hover,
    &.active-trail,
    &.active {
      border-color: $menu-hover-underline-color;
    }
  }
}

.nav-tools-mobile {
  float: right;
  position: absolute;
  right: 7px;
  top: 18px;
  margin: 0 10px;

  @include respond-to('md') {
    top: 27px;
  }

  li {
    display: inline-block;
    list-style-type: none;
    list-style-image: none;
    padding: 0 10px;

    a {
      @include link($header-tools-icons-color, $header-hover-tools-icons-color, none);
      border-bottom: none !important;
      padding: 0;
      margin: 0;

      .fa {
        line-height: 25px; // same as #block-system-main-menu > sidebar > ul > li.first.leaf > a
        font-size: 22px;

        &:active {
          color: $header-active-tools-icons-color;
        }
      }
    }
  }

  @include respond-to('xlg') {
    display: none;
  }
}

.nav-tools {
  display: none;

  @include respond-to('xlg') {
    float: right;
    display: block;
    position: relative;
    top: 4px;

    li {
      display: inline;
      list-style-type: none;
      list-style-image: none;

      a {
        @include link($header-tools-icons-color, $header-hover-tools-icons-color, none);
        border-bottom: none !important;

        .fa {
          line-height: 25px; // same as #block-system-main-menu > sidebar > ul > li.first.leaf > a
          font-size: 16px;

          &:active {
            color: $header-active-tools-icons-color;
          }
        }
      }
    }
  }
}

.mobile-menu {
  cursor: pointer;
  float: left;

  margin-right: 30px;

  &::before {
    @include fontAwesomeIcon('\f0c9', 30px);
    color: $lightgray;
  }

  &:hover {
    &::before {
      color: $accent-color-3;
    }
  }

  @include respond-to('xlg') {
    display: none;
  }
}

#share-mobile {
  display: none;

  @include respond-to('md') {
    position: absolute;
    display: block;
    right: 90px;
    bottom: 20px;
  }

  @include respond-to('xlg') {
    display: none;
  }

  .content {
    padding: 0 !important;

    .menu {
      -webkit-box-shadow: 4px 4px 5px 0 rgba($darkgray, 0.3);
      -moz-box-shadow:    4px 4px 5px 0 rgba($darkgray, 0.3);
      box-shadow:         4px 4px 5px 0 rgba($darkgray, 0.3);
      background-color: $lightgray-l;
      position: absolute;
      display: none;
      padding: 10px 0;
      top: 45px;
      left: -4px;
      width: 100%;
    }

    &:before {
      content: "\f1e0"; // share icon
      cursor: pointer;
      font-family: FontAwesome;
      font-size: 22px;

      height: 1em;
      width: 1em;
      padding: 12px;

      color: #D1D3D5;
    }

    &:hover {
      &::before {
        color: #fff;
      }
    }
  }
}

// Search
.header__search_form__wrapper {
  display: block;

  .header__search_form {
    position: relative;
    float: left;
    display: none;

    &.visible {
      display: inline-block;
      float: left;
      margin: -10px 0 0 20px;
    }

    i {
      position: absolute;
      top: 14px;
      right: 20px;
      left: auto;
      color: $intel;
    }

    input[type=text] {
      font-family: $cl_intel_font-family;
      color: $dark-gray;
      padding-left: 25px;
      padding-right: 50px;
      font-size: 16px;
      background: #F0F2F4;
      padding: 10px 16px;
      width: auto;
      width: 418px;
      max-width: 418px;
      -webkit-box-shadow: none;
      box-shadow: none;
      height: 40px;
      margin-top: 8px;
      border: none;
      display: block;
    }

    input[type=submit] {
      display: none;
    }

    &.full_width {
      display: block;
      margin-bottom: $comp_space_md;
      float: none;

      input[type=text] {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}

.header__search_cancel__wrapper {
  float: left;

  .header__search_cancel {
    font-family: $cl_intel_font-family;
    font-size: 16px;
    color: $dark_gray;
    line-height: 18px;
    margin-left: 15px;
    position: relative;
    cursor: pointer;
    text-align: left;
    display: none;

    &:hover {
      color: $intel;
      font-weight: bold;
    }
  }
}
