@font-face {
  font-family: 'ClearSans-Light';
  src: url('../fonts/ClearSans-Light.eot'),
       url('../fonts/ClearSans-Light.eot#iefix') format('embedded-opentype'),
       url('../fonts/ClearSans-Light.ttf') format('truetype'),
       url('../fonts/ClearSans-Light.svg') format('svg'),
       url('../fonts/ClearSans-Light.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'ClearSans-Regular';
  src: url('../fonts/ClearSans-Regular.eot'),
       url('../fonts/ClearSans-Regular.eot#iefix') format('embedded-opentype'),
       url('../fonts/ClearSans-Regular.ttf') format('truetype'),
       url('../fonts/ClearSans-Regular.svg') format('svg'),
       url('../fonts/ClearSans-Regular.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'ClearSans-Medium';
  src: url('../fonts/ClearSans-Medium.eot'),
       url('../fonts/ClearSans-Medium.eot#iefix') format('embedded-opentype'),
       url('../fonts/ClearSans-Medium.ttf') format('truetype'),
       url('../fonts/ClearSans-Medium.svg') format('svg'),
       url('../fonts/ClearSans-Medium.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'ClearSans-Bold';
  src: url('../fonts/ClearSans-Bold.eot'),
       url('../fonts/ClearSans-Bold.eot#iefix') format('embedded-opentype'),
       url('../fonts/ClearSans-Bold.ttf') format('truetype'),
       url('../fonts/ClearSans-Bold.svg') format('svg'),
       url('../fonts/ClearSans-Bold.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'ClearSans-Italic';
  src: url('../fonts/ClearSans-Italic.eot'),
       url('../fonts/ClearSans-Italic.eot#iefix') format('embedded-opentype'),
       url('../fonts/ClearSans-Italic.ttf') format('truetype'),
       url('../fonts/ClearSans-Italic.svg') format('svg'),
       url('../fonts/ClearSans-Italic.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'ClearSans-MediumItalic';
  src: url('../fonts/ClearSans-MediumItalic.eot'),
       url('../fonts/ClearSans-MediumItalic.eot#iefix') format('embedded-opentype'),
       url('../fonts/ClearSans-MediumItalic.ttf') format('truetype'),
       url('../fonts/ClearSans-MediumItalic.svg') format('svg'),
       url('../fonts/ClearSans-MediumItalic.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'ClearSans-BoldItalic';
  src: url('../fonts/ClearSans-BoldItalic.eot'),
       url('../fonts/ClearSans-BoldItalic.eot#iefix') format('embedded-opentype'),
       url('../fonts/ClearSans-BoldItalic.ttf') format('truetype'),
       url('../fonts/ClearSans-BoldItalic.svg') format('svg'),
       url('../fonts/ClearSans-BoldItalic.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'IntelClear-Light';
  src: url('../fonts/IntelClear_WLat_Lt.eot'),
       url('../fonts/IntelClear_WLat_Lt.eot#iefix') format('embedded-opentype'),
       url('../fonts/IntelClear_WLat_Lt.ttf') format('truetype'),
       url('../fonts/IntelClear_WLat_Lt.svg') format('svg'),
       url('../fonts/IntelClear_WLat_Lt.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'IntelClear-Regular';
  src: url('../fonts/IntelClear_WLat_Rg.eot'),
       url('../fonts/IntelClear_WLat_Rg.eot#iefix') format('embedded-opentype'),
       url('../fonts/IntelClear_WLat_Rg.ttf') format('truetype'),
       url('../fonts/IntelClear_WLat_Rg.svg') format('svg'),
       url('../fonts/IntelClear_WLat_Rg.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'IntelClear-Bold';
  src: url('../fonts/IntelClear_WLat_Bd.eot'),
       url('../fonts/IntelClear_WLat_Bd.eot#iefix') format('embedded-opentype'),
       url('../fonts/IntelClear_WLat_Bd.ttf') format('truetype'),
       url('../fonts/IntelClear_WLat_Bd.svg') format('svg'),
       url('../fonts/IntelClear_WLat_Bd.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'IntelClear-Italic';
  src: url('../fonts/IntelClear_WLat_It.eot'),
       url('../fonts/IntelClear_WLat_It.eot#iefix') format('embedded-opentype')
       url('../fonts/IntelClear_WLat_It.ttf') format('truetype'),
       url('../fonts/IntelClear_WLat_It.svg') format('svg'),
       url('../fonts/IntelClear_WLat_It.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'IntelClear-LightItalic';
  src: url('../fonts/IntelClear_WLat_LtIt.eot'),
       url('../fonts/IntelClear_WLat_LtIt.eot#iefix') format('embedded-opentype'),
       url('../fonts/IntelClear_WLat_LtIt.ttf') format('truetype'),
       url('../fonts/IntelClear_WLat_LtIt.svg') format('svg'),
       url('../fonts/IntelClear_WLat_LtIt.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'IntelClear-BoldItalic';
  src: url('../fonts/IntelClear_WLat_BdIt.eot'),
       url('../fonts/IntelClear_WLat_BdIt.eot#iefix') format('embedded-opentype'),
       url('../fonts/IntelClear_WLat_BdIt.ttf') format('truetype'),
       url('../fonts/IntelClear_WLat_BdIt.svg') format('svg'),
       url('../fonts/IntelClear_WLat_BdIt.woff') format('woff');
  font-weight: normal;
}
