// Toolbar
//
// Layout Toolbar
//
// Markup: toolbar.twig
//
// Style guide: layout.toolbar
.toolbar__container {
  width: 100%;
  background: $clear_blue;

  span {
    font-family: $cl_intel_font-family;
    font-size: 14px;
    color:$white;
    letter-spacing:0;
    line-height:27px;
    text-align:left;

    &.toolbar__date {
      &:after {
        content: "|";
        font-weight: bold;
        padding: 0 10px;
      }
    }

    &.toolbar__categories {
      font-family: $cl_intel_font-family-bold;
      color: $white;
    }

    &.toolbar__author {
      font-family: $cl_intel_font-family;
      font-size: 14px;
      color: $white;
    }
  }

  .toolbar__categories {
    font-family: $cl_intel_font-family-bold;
    a {
      color: $white;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  a {
    &.toolbar__author {
      font-family: $cl_intel_font-family;
      font-size: 14px;
      color: $white;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
