{{ attach_library('toolbar') }}

<div class="toolbar__container">
	<div class="container padding-sm--top-bottom padding-md--left-right">
	  {% if date is not empty %}
	    <span class="toolbar__date">{{ date }}</span>
	  {% endif %}
	  {% if author is not empty %}
	    <span>By</span> <a class="toolbar__author" href="/">{{ author }}</a>
	  {% endif %}
	  {% if categories is not empty and categories|length > 0 %}
	    <span>& filed under</span>
	    <span class="toolbar__categories">
	    	{% for cat in categories %}
          <a tabindex='1' href='{{ cat.href }}' title='{{ cat.title }}'>{{ cat.title }}</a>
          {% if not loop.last %}
           {{ ', ' }}
          {% endif %}
        {% endfor %}
	    </span>
	  {% endif %}
		{% if embed_content %}
		 {{ embed_content }}
		{% endif %}
	 </div>
</div>
