{{ attach_library('article_list') }}
<div class="article_list {{ modifier_class }}">
  {% if title is not empty %}
    <h2 class="article_list__title">{{ title }}</h2>
  {% endif %}
  {% if articles is not empty and articles|length > 0 %}
    <ul class="article_list__items">
        {% for article in articles %}
          <li class="article_list__item">
            {% include "@clearlinux_theme/components/article/article.twig" with article %}
          </li>
        {% endfor %}
    </ul>
  {% endif %}
  {% if call_to_action is not empty %}
    <div class="article_list__call_to_action">
      {% include "@clearlinux_theme/components/call_to_action/call_to_action.twig" with call_to_action %}
    </div>
  {% endif %}
  {% if rss %}
    <div class="article_list__rss"><a href="{{ rss_link }}"><i class="fa fa-rss"></i></a></div>
  {% endif %}
</div>
