{{ attach_library('block_image') }}

<div class="Image">
  {% if title is not empty %}<h2 class="Text__title">{{ title }}</h2>{% endif %}
  <div class="Image__item">
    <div class="Image__top">
      <img src="{{ image }}" {% if description is not empty %} alt="{{ description }}" {% endif %}/>
    </div>
    {% if description is not empty %}
      <div class="Image__description">
        <p>
           {{ description }}
        </p>
      </div>
    {% endif %}
  </div>
</div>
