// Homepage
//
// Layout Homepage
//
// Markup: homepage.twig
//
// Style guide: layout.homepage


.highlights_carousel {
	@extend %border-light--bottom;
}

.text_block {
	.container {
		@extend %container-md;
	}
}

.dynamic_block.features {
	@extend %bg-gradient--blue;
}

.blogs {
	.container {
		@extend %container-md;
	}
}

.community_counter {
	@extend %bg-gradient--light-blue;
}