{% include "@clearlinux_theme/layout/header/header.twig" with header %}

{% include "@clearlinux_theme/components/banner/banner.twig" with banner %}

<div class="content--wrapper">
  <section class="padding-lg--top-bottom  highlights_carousel">
    <div class="container clearfix">
      {% include "@clearlinux_theme/components/highlights_carousel/highlights_carousel.twig" with highlights %}
    </div>
  </section>

  <section class="padding-lg--top-bottom text_block">
    <div class="container clearfix">
      {% include "@clearlinux_theme/components/leading_text/leading_text.twig" with leading %}
    </div>
  </section>

  <section class="padding-lg--top-bottom dynamic_block features">
    <div class="container clearfix">
      {% include "@clearlinux_theme/components/highlights_carousel/highlights_carousel.twig" with features %}
    </div>
  </section>

  <section class="padding-lg--top-bottom">
    <div class="container clearfix">
      {% include "@clearlinux_theme/components/leading_text/leading_text.twig" with started.leading %}
    </div>
  </section>

  <section class="padding-lg--top-bottom blogs">
    <div class="container clearfix">
      {% include "@clearlinux_theme/components/article_list/article_list.twig" with articles %}
    </div>
  </section>

  <section class="padding-lg--top-bottom community_counter">
    <div class="container clearfix">
      {% include "@clearlinux_theme/components/community_counter/community_counter.twig" with counter %}
    </div>
  </section>
</div>
{% include "@clearlinux_theme/layout/footer/footer.twig" with footer %}
