/* Font Weigth */
$light: 300;
$regular: 400;
$bold: 700;

/* Base font styles */
$base-font-weight: $light;
$base-font-size: 18px;

$text-lg: 22px;
$text-sm: 11px;

// Color Palette
// l: +20% white for gradient
// ll: +40% white for gradient

// Light Blue
$primary-color-1: #7DD2F7;
$primary-color-1-l: #97DBF9;
$primary-color-1-ll: #B1E4FA;

// Intel Blue
$primary-color-2: #0070C5;
$primary-color-2-l: #338DD1;
$primary-color-2-ll: #66A9DC;

// Yellow
$accent-color-1: #FEE45D;
$accent-color-1-l: #FFE133;
$accent-color-1-ll: #FFE966;

// Canary Yellow
$accent-color-2: #FDB814;
$accent-color-2-l: #FDC643;
$accent-color-2-ll: #FED472;

// Blue
$accent-color-3: #00AEFF;
$accent-color-3-l: #33BEF2;
$accent-color-3-ll: #66CEF5;

// Purple
$accent-color-4: #7929D2;
$accent-color-4-l: #9454DB;
$accent-color-4-ll: #AF7FE4;

// Green
$accent-color-5: #39CD89;
$accent-color-5-l: #61D7A1;
$accent-color-5-ll: #88E1B8;

// Grayscale
// White
$lightgray: #F0F2F4;
$lightgray-l: #F6F7F8;
$lightgray-ll: #FFF;

// Gray
$gray: #8C9196;
$gray-l: #AFB2B6;
$gray-ll: #D1D3D5;

// Dark Gray
$darkgray: #0E1213;
$darkgray-l: #4C5155;
$darkgray-ll: #6C7073;

// Facebook
$facebook-color: #3b5998;
// Twitter
$twitter-color: #55acee;
// GooglePlus
$google-plus-color: #dd4b39;
// LinkedIn
$linkedin-color: #0077b5;
// YouTube
$youtube-color: #cd201f;
// GitHub
$github-color: #999;

// Text
$txt-header-color: #57c9f7;
$txt-color: #2d3237;

// Subheader
$subheader-txt-color: #AFB2B6;

// Links
$link-txt-color: $accent-color-3;
$link-hover-txt-color: $primary-color-2;

// Header
$header-top-background-color: #1c1c1c;
$header-background-color: #2d3237;
$header-txt-color: #fff;
$header-txt-size: 12px;
$header-selected-underline-color: $primary-color-1;
$menu-hover-underline-color: white;
$menu-active-underline-color: #00AEFF;

// Header Tools
$header-tools-icons-color: #D1D3D5;
$header-hover-tools-icons-color: white;
$header-active-tools-icons-color: #00AEFF;

// Sidebar
$sidebar-parent-background: #D1D3D5;
$sidebar-parent-hover-txt-color: #fff;
$sidebar-parent-hover-background: #00AEFF;
$sidebar-parent-container-background: #F0F2F4;

// Buttons
$btn-txt-color: #fff;
$btn-color: $primary-color-1;
$btn-border-color: $btn-color;

// Buttons hover
$btn-hover-color: $accent-color-3;
$btn-hover-txt-color: #fff;

// Buttons
$btn-secondary-txt-color: #fff;
$btn-secondary-color: $accent-color-5;
$btn-secondary-border-color: $accent-color-5;

// Buttons hover
$btn-secondary-hover-color: $accent-color-5-l;
$btn-secondary-hover-txt-color: #fff;

// Inputs
$input-border-color: #D1D3D5;

// Banner
$banner-right-color: #90dbf7;

// Breadcrumb
$breadcrumb-txt-size: 13px;
$breadcrumb-txt-color: #D1D3D5;
$breadcrumb-current-txt-color: #66CEF5;

// Search
$search-header-txt-color: #AFB2B6;

// Tables
$table-border-color: #D1D3D5;
$table-hover-row-background: #F0F2F4;

// Base Font
$base-font-family: "IntelClear-Light", "ClearSans-Light", Helvetica, "Helvetica Neue", verdana, sans-serif;
$base-font-weight: $light;
$base-line-height: 1.5;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-weight: $bold;
$h1-font-size: 40px;
$h2-font-size: 30px;
$h3-font-size: 24px;
$h4-font-size: 20px;
$h5-font-size: 18px;

// Responsive
$sm-mobile: 320px;
$mobile: 479px;
$tablet: 767px;
$md-tablet: 992px;
$desktop: 1024px;
$lg-desktop: 1200px;

//colors
$black_light: #2d3237;
$dark: #0e1213;
$charcol: #3b404c;
$dark_charcol: #051b2c;
$gastly: #626178;
$pantone_541: #003C71;
$intel: #0070c5;
$pantone_cyan: #00aeff;
$blue_light: #7DD2F7;
$clear_blue: #338dd1;
$venonat: #7B16FF;
$nidoran: #9463ff;
$wipinbell: #F3D64E;
$accent_color: #03DCA7;
$accent_color_light: #52F4A5;
$gray: #d1d3d5;
$gray_alt: #6c7073;
$gray_light: #f6f7f8;
$gray_light_2: #F0F2F4;
$dark_gray: #4c5155;
$grayish: #d8d8d8;
$light_blue_gray: #F1F3F8;
$white: #ffffff;
$controls: #d8d8d8;
$containers: #9e00d9;
$submenu_hover: #b1e4fa;
$submenu_border: #dfe6eb;
$submenu_background: #f9fbff;
$border_footer: #979797;
$button: #22252d;
$button_disabled: #75758b;
$button_blue_disabled: #66a9dc;
$button_blue_hover: #338dd1;
$form_error: #e71d32;
$alert_title: #152934;
$alert_description: #5a6872;
$menu_border: #1faeeb;

// Facebook
$facebook-color: #3b5998;
// Twitter
$twitter-color: #55acee;
// GooglePlus
$google-plus-color: #dd4b39;
// LinkedIn
$linkedin-color: #0077b5;
// YouTube
$youtube-color: #cd201f;
// GitHub
$github-color: #999;

$pinterest-color: #bd081c;
$tumblr-color: ligthen(#35465c, 20%);
$reddit-color: #ff4500;
$snapchat-color: #fffc00;
$instagram-color: #f77737;

// spacing
$space_sm: 16px;
$space_md: 32px;
$space_lg: 64px;
$space_xl: 96px;
$line: $gray;

//Font awesome
$fa-font-path: '../fonts/fontAwesome/';

//Intel font
$cl_intel_font-path: '../fonts/IntelFonts/fonts/';
$cl_intel_font-family: 'IntelClear-Regular', Helvetica, Arial, sans-serif;
$cl_intel_font-family-light: 'IntelClear-Light', Helvetica, Arial, sans-serif;
$cl_intel_font-family-bold: 'IntelClear-Bold', Helvetica, Arial, sans-serif;
$cl_intel_font-family-probold: 'IntelClearPro-Bold', Helvetica, Arial, sans-serif;

//Poppins font
$cl_poppins_font-path: '../fonts/poppins/';
$cl_poppins_font-family: 'Poppins-Regular', Helvetica, Arial, sans-serif;
$cl_poppins_font-family-medium: 'Poppins-Medium', Helvetica, Arial, sans-serif;
$cl_poppins_font-family-Light: 'Poppins-Light', Helvetica, Arial, sans-serif;
$cl_poppins_font-family-Bold: 'Poppins-Bold', Helvetica, Arial, sans-serif;
$cl_poppins_font-family-SemiBold: 'Poppins-SemiBold', Helvetica, Arial, sans-serif;

// susy configuration
$susy: (
  columns: 24,
  gutter-position: 'split',
  container: 1440px,
  gutters: 1
);

// media query
$cl_mobile: 479px;
$cl_sm: 768px;
$cl_md: 992px;
$cl_lg: 1025px;
$cl_xl: 1200px;

// font size
$cl_font-size: 16px;
$cl_font-line-height: 21px;
@media only screen and (min-width: $cl_sm) {
  $cl_font-size: 16px;
  $cl_font-line-height: 24px;
}
@media only screen and (min-width: $cl_lg) {
  $cl_font-size: 18px;
  $cl_font-line-height: 27px;
}
$cl_font-color: $charcol;
