{{ attach_library('table') }}

<div class="Table">
  <table class="Table__item {{ modifier_class }}">
    <thead>
      <tr>
        {% for header in headers %}
          <th>{{ header.name }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        <tr>
          <td>{{ item.item1 }}</td>
          <td>{{ item.item2 }}</td>
          <td>{{ item.item3 }}</td>
          <td>{{ item.item4 }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
