{{ attach_library("leading_text") }}

<div class="Wrapper Leading padding-xl--left-right">
  <h2 class="Leading__title">{{ title }}</h2>
  <div class="Leading__body">
    {{ description }}
  </div>
</div>
