{#
/**
 * @file
 * The views infinite scroll pager template.
 */
#}

{% if items.next %}
<div class="article_list__call_to_action">
  <ul {{ attributes }}>
    <li class="pager__item">
      {%
        include '@clearlinux_theme/components/call_to_action/call_to_action.twig' with {
          title: options.button_text,
          link: items.next.href,
          classes: ['call_to_action__secondary', 'call_to_action__large']
        }
      %}
    </li>
</div>
</ul>
{% endif %}  
