{# include two_columns component template#}
{% set first_column = {} %}
{% set second_column = {} %}
{% for item, s in 0..content.field_column_one['#items']|length - 1 %}
  {%
  set first_column = first_column|merge( {
    (s):
      {
        type: content.field_column_one[s]['#paragraph'].getType,
        title: content.field_column_one[s]['#paragraph'].field_title.value,
        description: content.field_column_one['#items'][s].entity.field_text_block.value|raw,
        image: content.field_column_one[s]['#paragraph'].field_component_image ? file_url(content.field_column_one[s]['#paragraph'].field_component_image.entity.image.entity.uri.value) : '',
        id: content.field_column_one[s]['#paragraph'].field_embed_video_link.value|get_video_id
      }
    }
  )
  %}
{% endfor %}
{# Getting items from second column #}
{% for item, s in 0..content.field_column_two['#items']|length -1 %}
    {%
    set second_column = second_column|merge( {
    (s):
      {
        type: content.field_column_two[s]['#paragraph'].getType,
        title: content.field_column_two[s]['#paragraph'].field_title.value,
        description: content.field_column_two['#items'][s].entity.field_text_block.value|raw,
        image: content.field_column_two[s]['#paragraph'].field_component_image ? file_url(content.field_column_two[s]['#paragraph'].field_component_image.entity.image.entity.uri.value) : '',
        id: content.field_column_two[s]['#paragraph'].field_embed_video_link.value|get_video_id
      }
    }
  )
  %}
{% endfor %}
{{ attach_library('clearlinux_theme/video') }}
{%
  include '@clearlinux_theme/components/two_columns/two_columns.twig' with {
    title: content.field_title.0['#context'].value,
    first_column: first_column,
    second_column: second_column
  }
%}
