{% if content.field_image|field_target_entity.uri.value %}
  {% set image_uri = file_url(content.field_image|field_target_entity.uri.value) %}
{% endif %}
{% if content.field_secondary_link[0]['#paragraph'].field_title.value %}
  {% set secondary_title = content.field_secondary_link[0]['#paragraph'].field_title.value %}
{% endif %}
{%
  include '@clearlinux_theme/components/banner/banner.twig' with {
    title: content.field_title|field_value,
    subheader: content.field_long_description|field_value,
    bg_image: image_uri,
    sp_image: svg_image,
    gradient: content.field_gradient_banner|field_value[0]['#markup'],
    call_to_action: {
      title: content.field_call_to_action[0]['#paragraph'].field_link[0].title,
      ico: content.field_call_to_action[0]['#paragraph'].field_fa_icon.value,
      link: content.field_call_to_action[0]['#paragraph'].field_link[0].url,
      classes: ['call_to_action__primary_bg']
    },
    secondary_link: {
      title: secondary_title ~ ' ' ~ last_release_date,
      title_link: content.field_secondary_link[0]['#paragraph'].field_link.title,
      link: content.field_secondary_link[0]['#paragraph'].field_link[0].url,
      classes: ['secondary_link__secondary']
    }
  }
%}
