
{{ attach_library('clearlinux_theme/image_gallery') }}
{% include '@clearlinux_theme/components/image_gallery/image_gallery.twig' with {
  title: content.field_title|field_value,
  items: slider_items
}
%}
