{{ attach_library('clearlinux_theme/highlights_carousel') }}
{{ title_prefix }}
{% set size = content.field_highlights_browser['#items']|length %}
{% set items = [] %}
 {% for key, s in 0..size - 1 %}
 {% if content.field_highlights_browser[s]['#node'].id %}
   {% set nid = path('entity.node.canonical', { 'node': content.field_highlights_browser[s]['#node'].id }) %}
 {% endif %}
   {% set items = items|merge(
     [
      {
        title: content.field_highlights_browser[s]['#node'].getTitle,
        description: content.field_highlights_browser[s]['#node'].get('field_subheader').value,
        call_to_action: {
          title: 'Read more',
          link: nid,
          classes: ['call_to_action__secondary']
        }
      }
     ]
    )
   %}
 {% endfor %}
{%
  include '@clearlinux_theme/components/highlights_carousel/highlights_carousel.twig' with {
    title: content.field_title|field_value,
    items: items

  }
%}
