{# include text_block component template#}
{%

  include '@clearlinux_theme/components/leading_text/leading_text.twig' with {
    title: content.field_title,
    description: content.field_text_block,
  }
%}
