{% if content.field_dynamic_list.0.contents['#name'] == 'features_list' %}
  {{ attach_library('clearlinux_theme/highlights_carousel') }}
  {%
   include '@clearlinux_theme/components/highlights_carousel/highlights_carousel.twig' with {
     title: content.field_title|field_value,
     items: views_result.items
    }
  %}
  {% elseif content.field_dynamic_list.0.contents['#name'] == 'latest_blog_posts' %}
  {%
   include '@clearlinux_theme/components/article_list/article_list.twig' with {
     title: content.field_title|field_value,
     rss: true,
     rss_link: "http://clearlinux.org/rss.xml",
     articles: views_result.articles,
     call_to_action: {
       title: "Go to blogs",
       link: "/blogs",
       classes: [ "call_to_action__secondary" , "call_to_action__large"]
     }
    }
  %}
{% endif %}
