{% set items = {} %}

{% for item, s in 0..content.field_social_channel['#items']|length - 1 %}

  {% set items = items|merge( {
    (s): {
      icon: content.field_social_channel[s]['#paragraph'].field_fa_icon.value,
      link: {
        title: content.field_social_channel[s]['#paragraph'].field_link.value[0].title,
        href: content.field_social_channel[s]['#paragraph'].field_link.0.url.toString
      },
      description: content.field_social_channel[s]['#paragraph'].field_long_description.value
    }
  }
  ) %}
{% endfor %}
{% include '@clearlinux_theme/components/social_channel_list/social_channel_list.twig' with {
  title: content.field_title.0['#context'].value,
  items: items
  }
%}
