{# include text_block component template#}
{%

  include '@clearlinux_theme/components/block_image/block_image.twig' with {
    title: content.field_title,
    image: file_url(content.field_component_image['#items'].0.entity.image.entity.uri.value),
    description: content.field_component_image['#items'].0.entity.image.alt,
  }
%}
