{{ attach_library('clearlinux_theme/video') }}
{%
  include '@clearlinux_theme/components/video/video.twig' with {
    title: content.field_title.0['#context'].value,
    id: content.field_embed_video_link[0]['children']['#url']|get_video_id
  }
%}
