{% for item, s in 0..content.field_library_images['#items']|length -1 %}
  {% include '@clearlinux_theme/components/block_image/block_image.twig' with {
    image: file_url(content.field_library_images[s]['#media'].image.entity.uri.value)
  }
  %}
{% endfor %}
