{{ attach_library('clearlinux_theme/hero_carousel') }}

{% set slides = content.field_image_carousel['#items']|length %}

{% set banners = {} %}
{% for key, s in 0..slides - 1 %}

  {# validate call to action link #}
  {% if content.field_image_carousel[s]['#paragraph'].field_link[0].external %}
    {% set cta_link = content.field_image_carousel[s]['#paragraph'].field_link[0].uri %}
  {% else %}
    {% set cta_link = content.field_image_carousel[s]['#paragraph'].field_link.0.url %}
  {% endif %}

  {# Validate secondary link #}
  {% if content.field_image_carousel[0]['#paragraph'].field_secondary_link[0].entity.field_link[0].external %}
    {% set sec_link = content.field_image_carousel[0]['#paragraph'].field_secondary_link[0].entity.field_link[0].uri %}
  {% else %}
    {% set sec_link = content.field_image_carousel[0]['#paragraph'].field_secondary_link[0].entity.field_link.0.url %}
  {% endif %}
 {# Project Browser Items count #}
 {% set project_size = content.field_image_carousel[s]['#paragraph'].field_top_projects.entity.field_projects_browser|length %}
 {% if project_size > 0 %}
   {% set project_items = {} %}
   {% for project_item, k in 0..project_size - 1 %}
    {% set project_items = project_items|merge(
        [
          {
          title: content.field_image_carousel[s]['#paragraph'].field_top_projects.entity.field_projects_browser[k].entity.title.value,
          subheader: content.field_image_carousel[s]['#paragraph'].field_top_projects.entity.field_projects_browser[k].entity.field_subheader.value,
          description: content.field_image_carousel[s]['#paragraph'].field_top_projects.entity.field_projects_browser[k].entity.field_summary.value
          }
        ]
      )
    %}
    {% endfor %}
  {% endif %}

  {% set banners = banners|merge(
    [
      {
        type: content.field_image_carousel[s]['#paragraph'].field_gradient.value,
        field_title: content.field_image_carousel[s]['#paragraph'].field_title.value,
        field_subheader: content.field_image_carousel[s]['#paragraph'].field_subheader.value,
        field_support_image: file_url(content.field_image_carousel[s]['#paragraph'].field_support_image.0.entity.uri.value),
        button: {
          title: content.field_image_carousel[s]['#paragraph'].field_link.title,
          ico: 'fa',
          link: cta_link
        },
        link: {
          title: content.field_image_carousel[s]['#paragraph'].field_secondary_link[0].entity.field_title.value,
          title_link: content.field_image_carousel[s]['#paragraph'].field_secondary_link[0].entity.field_link[0].title,
          link: sec_link
        },
        top_projects: {
          projects: project_items
        }
      }
    ]
  )
  %}
{% endfor %}

{%
   include '@clearlinux_theme/hero_carousel/hero_carousel.twig' with {
    banners: banners
   }
%}
