{# include text_block component template#}
{%

  include '@clearlinux_theme/components/text_block/text_block.twig' with {
    title: content.field_title,
    description: content.field_text_block,
  }
%}
