{% include '@clearlinux_theme/components/call_to_action/call_to_action.twig' with {
  title: content.field_link[0]['#title'],
  ico: content.field_fa_icon|field_value[0]['#attributes'].class,
  link: content.field_link[0]['#url'].toString,
  classes: ['social_channel_list__call_to_action']
}
%}
