{{ attach_library('highlight') }}

<div class="highlight">
	{% if icon is not empty %}
  	<span class="margin-sm--bottom highlight__icon fa fa-{{ icon }}"></span>
  {% endif %}
  <h3 class="highlight__title">{{ title }}</h3>
  <p class="highlight__description">{{ description }}</p>
  {% if call_to_action is not empty %}
  	{% include "@clearlinux_theme/components/call_to_action/call_to_action.twig" with call_to_action %}
  {% endif %}
</div>
