{% include "@clearlinux_theme/layout/header/header.twig" with header %}

{% include "@clearlinux_theme/layout/page_header/page_header.twig" with title %}

<main class="container padding-md--top-bottom padding-md--left-right">
	{% include "@clearlinux_theme/components/search_input/search_input.twig" with search %}

	<h2>{{ search.total }} Results found for "{{ search.value }}"</h2>

	{% include "@clearlinux_theme/components/article_list/article_list.twig" with articles %}
</main>

{% include "@clearlinux_theme/layout/footer/footer.twig" with footer %}