<div class="{{ modifier_class }}">
  <ul class="feature_list">
    {% for item in items %}
      {% set zebra = 'block--odd' %}
      {% if loop.index0 % 2 == 0 %}
        {% set zebra = 'block--even' %}
      {% endif %}
      <li class="{{ zebra }}">
        {% if loop.index0 % 2 == 0 %}
          {% include "@clearlinux_theme/components/feature/feature.twig" with {'item': item, 'position': 'left'} %}
        {% else %}
          {% include "@clearlinux_theme/components/feature/feature.twig" with {'item': item, 'position': 'right'} %}  
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>