<div class="Column feature">
  <div class="container">
    {% if position == 'left' %}
    	<div class="Column__item column__text column__left">
    	  <h2 class="Text__title">{{ item.title }}</h2>
    	  <p class="Text__description">{{ item.description }}</p>
    	  {% if item.call_to_action is not empty %}
    	    {% include "@clearlinux_theme/components/call_to_action/call_to_action.twig" with item.call_to_action %}
    	  {% endif %}
    	</div>
    	<div class="Column__item column__icon column__right">
    	  <span class="fa fa-{{ item.icon }}"></span>
    	</div>
    {% else %}
      <div class="Column__item column__icon column__left">
        <span class="fa fa-{{ item.icon }}"></span>
      </div>
      <div class="Column__item column__text column__right">
        <h2 class="Text__title">{{ item.title }}</h2>
        <p class="Text__description">{{ item.description }}</p>
        {% if item.call_to_action is not empty %}
          {% include "@clearlinux_theme/components/call_to_action/call_to_action.twig" with item.call_to_action %}
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>