{{ attach_library('social_channel_list') }}

<div class="container">
  <div class="social_channel_list">
    {% if title is not empty %}
      <h4 class="sidebar_nav__title">{{ title }}</h4>
    {% endif %}
    {% if items is not empty and items|length > 0 %}
      <ul class="social_channel_list__items">
          {% for item in items %}
            <li class="social_channel_list__item">
              {% set item_var = item %}
              {% include "@clearlinux_theme/components/social_channel/social_channel.twig" with item_var %}
            </li>
          {% endfor %}
      </ul>
    {% endif %}
    {% if call_to_action is not empty %}
      <div class="social_channel_list__call_to_action">
        {% include "@clearlinux_theme/components/call_to_action/call_to_action.twig" with call_to_action %}
      </div>
    {% endif %}
  </div>
</div>
